#spons #spons_tabs {
    
    margin-right : 20px;
}
#spons #spons_tabs li{
    width : 100%
}
#spons #spons_tabs li a{
    color : #000;
}
#spons #spons_tabs li a:hover{
    color : #444;
}
#spons #spons_tabs.nav-pills > .active > a,
#spons #spons_tabs.nav-pills > .active > a:hover,
#spons #spons_tabs.nav-pills > .active > a:focus {
    color : #fff;
    background-color : #000;
}
#spons #spons_tabs.nav-pills > li > a {
    background-color : transparent;
    border : 1px solid #000;
}

#spons #spons_tabs.nav-pills > li > a:hover,
#spons #spons_tabs.nav-pills > li > a:focus {
    background-color : #000;
    color : #fff;
    padding-left : 30px;
}

#spons_2014_content {
    height : 70%;
    overflow-y : auto;
    overflow-x : hidden;
}
#spons_2014_content > div {
    text-align : center;
}
#spons_2014_content > div > a {
    padding : 5%;
}

#spons_2013_content {
    height : 70%;
    overflow-y : auto;
    overflow-x : hidden;
}
#spons_2013_content > div {
    text-align : center;
}
#spons_2013_content > div > a {
    padding : 5%;
}
#spons_2013_content > div > a > img {
    height : 75px;
    width : auto;
}


#spons_2011_content {
    height : 70%;
    overflow-y : auto;
    overflow-x : hidden;
}
#spons_2011_content > div {
    text-align : center;
}
#spons_2011_content > div > a {
    padding : 5%;
}
#spons_2011_content > div > a > img {
    height : 75px;
    width : auto;
}

