{% load staticfiles %}
    <!-- LECTURES SECTION  -->
        <section id="lectures" class='sec'>
            <div class="container">
                <div class="row">
                    <div class="span12 centered">
                        <h2>Lectures</h2>
                        <div class="white breaker"><span class="left"></span><div class="dice white"></div><span class="right"></span></div>
                    </div>
                </div>
                <div class="row lectures_container">
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick='show_lecture(this)'>
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class="span2 lecture_item">
                        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img" onclick="show_lecture(this)">
                    </div>
                    <div class='main_lecture'>
                    </div>
                </div>
            </div>
        </section>
        <!-- END LECTURES SECTION  -->
