{% load staticfiles %}
<div id="register" class="modal modal-large hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <center>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss='modal'>&times;</button>
            <h3 style='width : 100%;'>
                <span style='position:absolute; left : 25%; display : inline-block;'>Add Your College!</span>
                &nbsp;
            </h3>
            <div id="add_coll_form">
               <tr><input type="text" maxlength="70" value placeholder="Enter your college name" id="add_coll_form_college"></text>
               <tr><td><input type="text" maxlength="70" value placeholder="Enter the city of your college" id="add_coll_form_city"></text></td>
               <td><select id="state_select">
                <option value="" disabled="disabled" selected="selected">Please select a state</option>
                {% for state in stlist %}
                <option value="{{state}}">{{state}}</option>
                {% endfor %}
                </select></td>
               </tr>
               <tr><a id="add_coll_submit" class="btn btn-primary" onclick ="Dajaxice.users.add_college(Dajax.process, {'college':$('#add_coll_form_college').val(),'city':$('#add_coll_form_city').val(),'state':$('#state_select').val()});" > Add your college to Shaastra!</a></tr>
            </div>
        </div>
    </center>
</div>
