<div class="modal hide fade" id="fb_share" style="width:470px">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    &nbsp;
  </div>
  <div class="modal-body">
   
  <h4>Please take a few seconds and help promote us.</h4>
  <a href="https://facebook.com/Shaastra" target="_blank"><img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash3/543397_576556125723438_1479292763_n.jpg" style="width:auto;height:140px"/></a><br/>
<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FShaastra&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;width=250px" allowTransparency="true"></iframe>
  </div>
  <div class="modal-footer">
  Click anywhere outside this box to exit.
  </div>
</div>
