{% load staticfiles %}
<!-- HEADER HOME  -->
<section id="home" class='centered'>
    <div id='behind_banner_div'></div>
    <div id='banner_div'>
        <img id='banner_img' src='{% static "img/home/banner.png" %} ' style='visibility : hidden; position : absolute; top : 0px; left : 0px;' />
    </div>
    <div class='row' style='height : 65%;'></div>
    <div class="row centered">
        <img class='pull-left' src='{% static "img/logo/iitm.png" %}' onclick="window.open('','_blank');" style='margin-left : 10%;' />
        <img class='pull-left' src='{% static "img/logo/iso_black.png" %}' onclick="window.open('','_blank');" style='margin-left : 1%;' />
        <h1 class="fade-it" id='hexa-dice-container'></h1>
    </div>
    <div id='social-icons-header'>
        
        <img src='{% static "img/icons/social_fb_bw.png" %}' onclick="window.open('','_blank');" />
        <img src='{% static "img/icons/social_youtube_bw.png" %}' onclick="window.open('http://www.youtube.com/user/iitmshaastra','_blank');" />
        <img src='{% static "img/icons/social_google_bw.png" %}' onclick="window.open('','_blank');" />
        <img src='{% static "img/icons/social_twitter_bw.png" %}' onclick="window.open('https://twitter.com/ShaastraIITM','_blank');" />
        <br />
        <span style='color : #000;'>January 4th - 7th, 2014</span>
    </div>
    <!-- LITTLE LOGO SEE WHAT WE DO --> 
    <div id="down_button" class="fade-it" style=''><a href="#events"></a></div>
    
</section>
<!-- END HEADER HOME  -->
