{% load staticfiles %}
<!-- HEADER HOME  -->
<section id="home" class='centered'>
    <div id='behind_banner_div'></div>
    <div id='banner_div'>
        <img id='banner_img' src='{% static "img/home/banner.png" %} ' style='visibility : hidden; position : absolute; top : 0px; left : 0px;' />
    </div>
    <div class='row' style='height : 65%;'></div>
    
    <div id='social-icons-header'>
        <img src='{% static "img/icons/social_fb_color.png" %}' onclick="window.open('http://www.facebook.com/Shaastra','_blank');" />
        <img src='{% static "img/icons/social_youtube_color.png" %}' onclick="window.open('http://www.youtube.com/user/iitmshaastra','_blank');" />
        <img src='{% static "img/icons/social_google_color.png" %}' onclick="window.open('https://plus.google.com/u/0/109668817957263291803/about','_blank');" />
        <img src='{% static "img/icons/social_twitter_color.png" %}' onclick="window.open('https://twitter.com/ShaastraIITM','_blank');" />
        <br />
        <span style='color : #000;'>January 4th - 7th, 2014</span>
    </div>

    <div class='links-rect' >
        <a class='black' style='z-index : 100;' href="http://sampark.shaastra.org"><i class="icon-road"></i> Shaastra Outreach</a>
        <a class='black' style='z-index : 100;' href="#aboutus"><i class='icon_shaastra'></i> About Us</a>
        <a class='black' style='z-index : 100;' href="http://lunar.shaastra.org"><i class="icon-globe"></i> Lunar Rover</a>
        <!--<h4 style=''><span style='padding : 3px; border-radius : 5px; border : 1px solid #f00; background-color : #a33;'><span class='label label-inverse' style='font-size : 0.9em;'>Notice</span> Deadline for event TDP submission has been extended to 4th and 6th November</span></h4>-->
    </div>
    <div id="dice" style=''>
        <img onclick="window.open('http://www.iitm.ac.in','_blank');" class='pull-left' src='{% static "img/logo/iitm.png" %}' onclick="window.open('','_blank');" style='margin-left : 10%; margin-top : 2%;' />
        <img class='pull-right' src='{% static "img/logo/iso_black.png" %}' style='margin-right : 10%; margin-top : 2%;' />
        <h1 class="fade-it" id='hexa-dice-container' style='border-top : 1px rgba(100, 100, 100, 0) solid;'></h1>
    </div>
    <!--<div style='position : absolute; bottom : 0px; left : 20px; color : #000;'>
        <img src='{% static "img/logo/spons/sparklab_small.png" %}' onclick="window.open('','_blank');" style='margin-right : 10%; margin-top : 2%;' />
    </div>-->
    <!--<div id="down_button" class="fade-it" style=''><a href="#events"></a></div>-->
    
</section>
<!-- END HEADER HOME  -->
