{% load staticfiles %}

<div id="login" class="modal modal-large fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<!--    <center>-->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss='modal'>&times;</button>
            <h3 style='width : 100%;'>
                <span style='position:absolute; left : 17%; display : inline-block;'>Login</span>
                <span style='position:absolute; right : 30%;display : inline-block;'>Sign Up</span>
                &nbsp;
            </h3>
        </div>
        <div class="modal-body login_register">
            <div class='span4 form_login_div' style="padding-right: 0%; border-right: 1px solid #ccc; ">
                {% if form.errors %}
                <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
                </p>
                {% endif %}
                <form action="" method="post" id="login_form">{% csrf_token %}
                
                <div class="container-fluid pull-left">
                      <div class="row-fluid">
                        <div class="span9" style="display:inline-block">
                          <!--Sidebar content-->
                          {{form.as_table}}
                        </div>
                        <div class="span2 pull-right">
                          <!--Body content-->
                          <br/><br/><br/>
                          <input id="login_form_submit" type="button" onclick="user_login();" value="Login" class="btn "/>
                        </div>
                      </div>
                </div>
<!--                    {{ form.as_table }}-->
                </form>
                
                
                <div id="login_error"></div>
                <div id="forgot_password"><a onclick="$('#forgot_form').toggle();
                if ($('#regd_instruction').height() > 130 ){
                $('#regd_instruction').height($('#regd_instruction').height()-60);
                }
                else{
                $('#regd_instruction').height($('#regd_instruction').height()+60);
                }
                " style="cursor:pointer;">
                Forgot your password?</a></div>
                
                <div id="forgot_form" style="display:none">
                    <input type="text" maxlength="70" value placeholder="Enter your registered email-id" id="forgot_form_email">
                    <button class="btn btn-primary" onclick ="Dajaxice.users.forgot_password(Dajax.process, {'email':$('#forgot_form_email').val()});" > Request for a new password</button>

                </div>

                <div style="overflow-y : auto; height:160px" id="regd_instruction">
                <div class="well">
                <p class="text-left">
                If you do not have a Shaastra ID Please sign up using the form to the right.<br/>
                Please take note, obtaining a Shaastra ID does <b>not</b> register you for any event.
                You are required to fill in the registration form in the individual event's page for the same
                </p>
                </div>
                </div>
            </div>
            <div class='span5 offset form_registration_div' style="padding-left: 35%;">
                <form id='form_registration' method="post" action="" >
                    {% csrf_token %}
                    <table class='span5'>
                        <tr>
                            <th>First Name</th>
                            <td >{{ form_registration.first_name }}</td>
                            <th>Last Name</th>
                            <td >{{ form_registration.last_name }}</td>
                        </tr>
                        <tr>
                            <th>User Name</th>
                            <td>{{ form_registration.username }}</td>
                            <th>E-Mail</th>
                            <td>{{ form_registration.email }}</td>
                        </tr>
                        <tr>
                            <th>Password (atleast 6 chars)</th>
                            <td>{{ form_registration.password }}</td>
                            <th >Repeat password</th>
                            <td>{{ form_registration.password_again }}</td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>{{ form_registration.gender }}</td>
                            <th>Age</th>
                            <td>{{ form_registration.age }}</td>
                        </tr>
                        <tr>
                            <th>Mobile Number</th>
                            <td>{{ form_registration.mobile_number }}</td>
                            <th>College Roll Number</th>
                            <td>{{ form_registration.college_roll }}</td>
                        </tr>
                        <tr>
                            <th>College</th>
                            <!--                                <td>{{ form_registration.college }}</td>-->
                            <td>
                                <input id="college" type="text" class="span3" placeholder="Enter Your School/College" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="[{{collstr}}]">
                            </td>
                            <td>{{form_registration.branch}}</td>
                        </tr>
                        <tr>                                
                            <td>
                                <div id="add_college_display">
                                    <a id='add_coll_message' onclick='addcoll();' style="cursor:pointer; font-size : 0.8em;">Can't find your institute in the list?</a>
                                    <span id='add_coll_result'></span><span id='add_coll_name'></span>
                                </div>
                            </td>
                            <td>
                            I am a:
                                <div class="btn-group">
                                    <button type="button" id = "type_student" class="btn btn-default">College Student</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" style="height:30px;" data-toggle="dropdown">
                                      <span class="caret"></span>
                                      <span class="sr-only"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li><a style="cursor:pointer;" onclick = "$('#id_school_student')[0].checked=true;$('#type_student').text($(this).text());">School Student</a></li>
                                      <li><a style="cursor:pointer;" onclick = "$('#type_student').text($(this).text());$('#form_registration #id_college_roll').val('PASSED OUT');$('#form_registration #id_college_roll').attr('readonly', true);">College Passout</a></li>
                                      <li class="divider"></li>
                                      <li><a style="cursor:pointer;" onclick = "$('#type_student').text($(this).text());">College Student</a></li>
                                    </ul>
                                </div>
                            </td>
<!--                            <span>You are a :  </span><div class="btn-group">-->
<!--                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id = "type_student">College Student<span class="caret"></span></button>-->
<!--                                <ul class="dropdown-menu" role="menu">-->
<!--                                  <li><a onclick = "$('#type_student').text($(this).text()+'<span class='caret'></span>')">School Student</a></li>-->
<!--                                  <li class="divider"></li>-->
<!--                                  <li><a onclick = "$('#type_student').text($(this).text()+'<span class='caret'></span>')">Passout from College?</a></li>-->
<!--                                </ul>-->
<!--                          </div>-->
<!--                            <div class="btn-toolbar" role="toolbar">-->
<!--                                <div class="btn-group btn-group-lg">-->
<!--                                  <button type="button" class="btn btn-default">Left</button>-->
<!--                                  <button type="button" class="btn btn-default">Middle</button>-->
<!--                                  <button type="button" class="btn btn-default">Right</button>-->
<!--                                </div>-->
<!--                            </div>    -->
                        </td></tr>
                        <span style="display:none" >
                                School Student : {{ form_registration.school_student }}
                        </span>                        
                        <tr>
                            <td>Want accomodation?
                                {{ form_registration.want_accomodation }}
                            </td>
                            <td>
                                <small><span class="text-error" style='font-size : 0.9em;'>{{ form_registration.want_accomodation.help_text }}</span></small>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='4' class='centered'>
                                <input  id="form_registration_submit" type="button" onclick="submit_registration();" value="        Sign Up        " class="btn btn-primary"/>
                                <img src='{{SITE_URL}}static/img/loading.gif' style="height:25" id="gif_registration" class="loading" title="loading..." />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
<!--            </center>-->
    </div>
</div>
