{% load staticfiles %}
<div id="register" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <center>
        <div class="modal-header">
            <button type="button" class="close" onclick="javascript:modal_hide()">&times;</button>
            <h3>Register</h3>
        </div>
        
        <div class="modal-body">
            <p>Put form for register here</p>
        </div>
    
        <div class="modal-footer">
            <h6> You can try Deep Thought too, but I don't think 42 is of much help. </h6>
            <div class='btn-group'>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-inverse">Go to Login</button>
                <button class="btn btn-primary">Register</button>
            </div>
        </div>
    </center>

</div>
