/*  For lectures carousel */
#lectures .lecture_item {
    margin-bottom:10px;
    position:relative;
    overflow:hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#lectures .lecture_item img {
    width:100%;
    display:block;
}
#lectures .lecture_item.hidden {
    display:none;
}
#lectures .lecture_item:before {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content:'';
    z-index:3;
}

#lectures .lecture_item span.overlay {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(70,70,70,0.8);
    z-index:2;
    opacity:0;
    filter:alpha(opacity=0);
    ransition:opacity .2s;
    -moz-transition:opacity .2s;
    -webkit-transition:opacity .2s;
    -o-transition:opacity .2s;
}

#lectures .lecture_item .cnt {
    position:absolute;
    z-index:10;
    left:0;
    right:0;
    top:0;
    text-align:center;
    height: 100%;
    width: 100%;
    opacity:0;
    filter:alpha(opacity=0);
    transition:opacity .2s;
    -moz-transition:opacity .2s;
    -webkit-transition:opacity .2s;
    -o-transition:opacity .2s;
}

#lectures .lecture_item .cnt strong {
    font-weight:400;
    display:block;
    padding-bottom:27px;
}

#lectures .lecture_item .cnt h5 {
    font-size:30px;
    font-weight:700;
    padding-bottom:15px;
}
#lectures .lecture_item:hover span.overlay,.lecture_item:hover .cnt {
    opacity:1;
    filter:alpha(opacity=100);
}
#lectures .lecture_item.active span.overlay, .lecture_item.active .cnt {
    opacity:1;
    filter:alpha(opacity=100);
}

/* Sub items */
#lectures .lecture_items_div.sub_lectures {
}
#lectures .sub_lecture_item.lecture_item {
}


/* Main items */
#lectures .main_lecture_item {
    height : 0;
}
#lectures .main_lecture_item.lecture_item {
    height : 50%;   
    
}


/* Carousel Elements */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -30px;
    margin-right: -19px;
}
.carousel-indicators li.active {
    background-color : #000;
    background-color : rgba(0, 0, 0, 0.75);
}
.carousel-indicators li {
    cursor : pointer;
    background-color : #888;
    background-color : rgba(0, 0, 0, 0.25);
}
.carousel-control.left {
    left : -10%;}

.carousel-control.right {
    right : -10%;}

/* lectures main - Box Layout*/
.main_lecture_item.lecture_item {
    margin-left : 50px;
}
