{% load staticfiles %}

        <!-- JAVASCRIPTS  --> 
        <script src="{% static 'js/jquery/jquery-1.10.2.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.dajax.core.js' %}"></script>
        <script src="{% static 'js/modernizr.custom.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery/jquery.scrollto.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/waypoints.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/bootstrap/bootstrap.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/bootstrap/bootstrap-growl.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/home/hexaflip.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/events/boxlayout.js' %}" type="text/javascript"></script>
        
        <!-- END JAVASCRIPTS  --> 
    <script>
        $(".tooltip").tooltip(); // For tooltips
        $(".main_event_item div").hide()

        // ------------------------------------------------
        //      For the HexaCube
        // -------------------------------------------------
        var hexa, hexa_pid = null,
            text = 'SHAASTRA'.split(''),
            settings = {
                size: 75,
                margin: 5,
                fontSize: 50,
                perspective: 3250
            },
            makeObject = function(a){
                var o = {};
                for(var i = 0, l = a.length; i < l; i++){
                    o['letter' + i] = a[i] + a[i] + a[i];
                }
                return o;
            },
            getSequence = function(a, reverse, random){
                var o = {}, p;
                for(var i = 0, l = a.length; i < l; i++){
                    if(reverse){
                        p = l - i - 1;
                    }else if(random){
                        p = Math.floor(Math.random() * l);
                    }else{
                        p = i;
                    }
                    o['letter' + i] = a[p];
                }
                return o;
            },
            hexa_init = function() {
                hexa_pid = setInterval(function(){
                    hexa.setValue(getSequence(text, false, true));
                    $(".modal").each( function() {
                        if ( $(this).hasClass("in") ) {
                            clearInterval(hexa_pid);
                            hexa_pid = -1;
                        }
                    });
                    if( hexa_pid == -1 )
                        hexa_stop();
                }, 1000);
                hexa.setValue(getSequence(text, false, true));
            },
            hexa_stop = function() {
                clearInterval(hexa_pid);
                hexa_pid = setInterval(function(){
                    $(".modal").each( function() {
                        if ( ! $(this).hasClass("in") ) {
                            clearInterval(hexa_pid);
                            hexa_pid = -1;
                        }
                    });
                    if( hexa_pid == -1 )
                        hexa_init();
                }, 1000);
                
            };

        /* ---------------------------------------------------
                        FOR LOGIN AND REGISTRATIONS
        ---------------------------------------------------------- */
        var tds = $('#login td');
        for ( var i = 0; i < tds.length; i++ ) {
            if ( $(tds[i]).prev().prop("tagName") == "TH" ) {
                var st = $($(tds[i]).prev().children("label")[0]).html().slice(0, -1)
                if( st == "Password") {
                    st = "Password (atleast 6 char)"
                } else if( st == "Want accomodation") {
                    $(tds[i]).children("br").remove();
                    $(tds[i]).html($(tds[i]).html() + "  " + st);
                    continue;
                } else if( st == 'College') {
                    $(tds[i]).prev().html("Choose Your college : ");
                    $(tds[i]).prev().show();
                    $(tds[i]).parent().addClass("college_tr");
                    $(tds[i]).addClass("college");
                    continue;
                }
                $($(tds[i]).children("input")).attr("value", "");
                $($(tds[i]).children("input")).attr("placeholder", st);
            }
        }
            

        /*--------------------------------------------------------
                        ON BODY LOAD HANDLER
        --------------------------------------------------------- */
        
        document.addEventListener('DOMContentLoaded', function(){
            hexa = new HexaFlip(document.getElementById('hexaflip'), makeObject(text), settings);
            hexa_init();
            
        }, false);

    </script>
    
