{% load staticfiles %}

<!-- JAVASCRIPTS  --> 
<script src="{% static 'js/jquery/jquery-1.10.2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.dajax.core.js' %}"></script>
<script src="{% static 'js/modernizr.custom.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery/jquery.scrollto.js' %}" type="text/javascript"></script>
<script src="{% static 'js/waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.jscrollpane.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap/bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap/bootstrap-tooltip.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap/bootstrap-collapse.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap/bootstrap-growl.js' %}" type="text/javascript"></script>

<script src="{% static 'js/home/hexaflip.js' %}" type="text/javascript"></script>
<script src="{% static 'js/events/boxlayout.js' %}" type="text/javascript"></script>
<script src="{% static 'js/lectures/scripts.js' %}" type="text/javascript"></script>

<!-- END JAVASCRIPTS  --> 
<script>
    $(".tooltip").tooltip(); // For tooltips
    $(".main_event_item div").hide()
    // ------------------------------------------------
    //      For the HexaCube
    // -------------------------------------------------
            
    var hexa, hexa_pid = -1,
        text = 'SHAASTRA'.split(''),
        settings = {
            size: 50,
            margin: 5,
            fontSize: 35,
            perspective: 3250
        },
        makeObject = function(a){
            var o = {};
            for(var i = 0, l = a.length; i < l; i++){
                o['letter' + i] = a[i] + a[i] + a[i];
            }
            return o;
        },
        getSequence = function(a, reverse, random){
            var o = {}, p;
            for(var i = 0, l = a.length; i < l; i++){
                if(reverse){
                    p = l - i - 1;
                }else if(random){
                    p = Math.floor(Math.random() * l);
                }else{
                    p = i;
                }
                o['letter' + i] = a[p];
            }
            return o;
        },
        hexa_init = function() {
            clearInterval(hexa_pid);
            hexa_pid = setInterval(function(){
                hexa.setValue(getSequence(text, false, true));
                $(".modal").each( function() {
                    if ( $(this).hasClass("in") ) {
                        clearInterval(hexa_pid);
                        hexa_pid = -1;
                    }
                });
                //if( hexa_pid == -1 )
                //    hexa_stop();
            }, 900);
            hexa.setValue(getSequence(text, false, true));
        },
        hexa_stop = function() {
            clearInterval(hexa_pid);
            hexa_pid = setInterval(function(){
                $(".modal").each( function() {
                    if ( ! $(this).hasClass("in") ) {
                        clearInterval(hexa_pid);
                        hexa_pid = -1;
                    }
                });
                if( hexa_pid == -1 )
                    hexa_init();
            }, 900);
            
        };

    /* ---------------------------------------------------
                    FOR LOGIN AND REGISTRATIONS
    ---------------------------------------------------------- */
    addcoll=function(){
        $("#login").modal('toggle');
        $("#add_college").modal('toggle');
    }
    
    user_login=function(){
        
        Dajaxice.users.login(Dajax.process, {'login_form':$('#login_form').serialize(true)});
    }
    
    submit_registration=function(){
        var x='1'
        if ($("#form_registration #id_first_name").val()=='' ||
                $("#form_registration #id_last_name").val()=='' ||
                $("#form_registration #id_age").val()=='' ||
                $("#form_registration #id_mobile_number").val()=='' ||
                $("#form_registration #id_password").val()=='' ||
                $("#form_registration #id_password_again").val()=='' ||
                $("#form_registration #id_first_name").val()=='' ||
                $("#form_registration #college_roll").val()=='' ||
                $("#form_registration #id_branch").val()==''||
                ($("#college").val() == '') && $("#add_coll_name").text()==''){
            $.bootstrapGrowl("Please fill up the registration form completely. All fields are mandatory.");
            x='0'
        }
        else{
        if ($("#form_registration #id_mobile_number").val().length !=10){
            $.bootstrapGrowl("Mobile number must be a 10 digit number!");
            x='0'
        }
        if (!($.isNumeric($("#form_registration #id_mobile_number").val()) && $.isNumeric($("#form_registration #id_age").val()))){
            $.bootstrapGrowl("Please enter numeric values for age and mobile number");
            x='0'
        }
        }
        if (x=='1'){
            if ($("#add_coll_result").text()!=''){
                $("#gif_registration").show();
                $("#form_registration_submit").toggle();
                Dajaxice.users.register(Dajax.process, {'form_registration':$('#form_registration').serialize(true),'college_name':$("#add_coll_name").html()});
            } else {
                if ($("#college").val()!='') {
                    var coll = $("#college").val();
                    var coll_list = coll.split("|");
                    var coll_name = coll_list[0];
                    $("#gif_registration").show();
                    $("#form_registration_submit").toggle();
                    Dajaxice.users.register(Dajax.process, {'form_registration':$('#form_registration').serialize(true),'college_name':coll_name});
                } else {
                    $.bootstrapGrowl("Please choose your college from the list, or add it!", {type:"danger",timeout:24000} );
                }
            }
        }
    }   
    
    
    var tds = $('#login td');
    for ( var i = 0; i < tds.length; i++ ) {
        if ( $(tds[i]).prev().prop("tagName") == "TH" ) {
            var st = $(tds[i]).prev().html()//.slice(0, -1)
            if( st.toLowerCase() == "password") {
                st = "Password (atleast 6 char)"
            } else if( st.toLowerCase() == "want accomodation") {
                //$(tds[i]).children("br").remove();
                $(tds[i]).html($(tds[i]).html() + "  " + st);
                continue;
            } else if( st.toLowerCase() == 'college') {
                //$(tds[i]).children("select").children("option").html("Choose College");
                //$(tds[i]).prev().html("Choose Your college : ");
                //$(tds[i]).prev().show();
                //$(tds[i]).parent().addClass("college_tr");
                //$(tds[i]).addClass("college");
                continue;
            }
            $($(tds[i]).children("input")).attr("value", "");
            $($(tds[i]).children("input")).attr("placeholder", st);
        }
    }
  //$("find_my_event")
  eventSearch = function(){
  window.location.hash = $('#find_my_event').val().replace(/ /g,'_').toLowerCase();
  $('#find_my_event').val('');
  }
  $("#form_registration #id_college_roll").attr("placeholder","Roll Number(if enrolled)");
  $("#form_registration #id_branch" ).width($("#form_registration #id_age").width());
  $(".loading").hide();
  {% with msg_file_upload|slice:":21" as short_msg %}
  {% ifnotequal short_msg "TDP Upload Successful" %}
    {% if msg_file_upload %}
    $.bootstrapGrowl('FileUpload Error: {{msg_file_upload}}',{type:"danger",delay:20000});
    {% endif %}
  {% else %}
  {% if msg_file_upload %}
    $.bootstrapGrowl('{{msg_file_upload}}',{type:"success",delay:20000});
  {% endif %}
  {% endifnotequal %}
  {% endwith %}
  
  $("#form_registration #id_gender" ).width($("#form_registration #id_age").width());
  $("#login_form input").keypress(function(event) {
            if (event.which == 13) {
                event.preventDefault();
                $("#login_form #login_form_submit").click();
            }
    });
    
    /* --------------------------------------------------------
                        HOME BANNER
        ------------------------------------------------------ */
    
    function make_banner() {
        var max_banner_h = $("#banner_img").height(), max_banner_w = $("#banner_img").width();
        $("#banner_div div").remove()
        $("#behind_banner_div div").remove()
        for( var i = 0; i < 33; i++ ) { // 11 items in 1 row
            var numx = 10.53, numy = 3.05;
            if( i == 0 || i == 10 || i == 11 || i == 10 || i == 21 ||  i == 22 || i == 32) {
                $("#banner_div").html($("#banner_div").html() + "<div style='height:" + (max_banner_h / numy) + "px; width:" + (max_banner_w * 3 / 4 / numx) + "px;'></div>" );
                $("#behind_banner_div").html($("#banner_div").html() + "<div style='height:" + (max_banner_h / numy) + "px; width:" + (max_banner_w * 3 / 4 / numx) + "px;'></div>" );
            } else {
                $("#banner_div").html($("#banner_div").html() + "<div style='height:" + (max_banner_h / numy) + "px; width:" + (max_banner_w / numx) + "px;'></div>" );
                $("#behind_banner_div").html($("#banner_div").html() + "<div style='height:" + (max_banner_h / numy) + "px; width:" + (max_banner_w / numx) + "px;'></div>" );
            }
            $($("#behind_banner_div div").get(-1)).hide()
            /*setTimeout( function() { // On hover the banner items become black
                $("#banner_div > div").hover( function() {
                    var pk = $(this).index();
                    $("#behind_banner_div > div").removeClass("black")
                    $($("#behind_banner_div > div").get(pk+1)).addClass("black") // pk + 1 because it 
                } )
            }, 10 );*/
        }
    }
    var banner_pid = -1;
    function init_banner() {
        banner_pid = setInterval(function(){
            pk = Math.floor(Math.random() * $("#banner_div > div").length);
            if ( pk == 16 )
                return
            $("#behind_banner_div > div").removeClass("black")
            $($("#behind_banner_div > div").get(pk)).addClass("black")
            $(".modal").each( function() {
                if ( $(this).hasClass("in") ) {
                    clearInterval(banner_pid);
                    banner_pid = -1;
                }
            });
            if( banner_pid == -1 )
                banner_stop();
        }, 1100);
    }
    function banner_stop() {
        clearInterval(banner_pid);
        banner_pid = setInterval(function(){
            $(".modal").each( function() {
                if ( ! $(this).hasClass("in") ) {
                    clearInterval(banner_pid);
                    banner_pid = -1;
                }
            });
            if( banner_pid == -1 )
                init_banner();
        }, 1100);
    }
    $("#social-icons-header > img").hover(  function() {
            //$(this).fadeOut(200, function() {
                $(this).attr("src", $(this).attr("src").replace("_color.", "_bw."));
            //} ).fadeIn(200)
        }, function() {
            //$(this).fadeOut(200, function() {
                $(this).attr("src", $(this).attr("src").replace("_bw.", "_color."));
            //} ).fadeIn(200)
        }
    );

    
    /*--------------------------------------------------------
                    LECTURES HANDLER
    --------------------------------------------------------- */
    function size_main_lecture() {
        var x1=1, y1=1, x2=4, y2=3;
        // make the middle ones dummy
        for ( var i = 0; i < 6; i++ )
            for ( var j = 0; j < 5; j++ ) {
                if ( i >= x1 && i <= x2 && j >= y1 && j <= y2 ) {
                    $($("#lectures .lectures_container > div.lecture_item").get(i + j*6)).addClass("dummy");
                } else {
                    $($("#lectures .lectures_container > div.lecture_item").get(i + j*6)).removeClass("dummy");
                }
            }
        // Make sursor for elements
        $("#lectures .lecture_item > img").hover(  function() {
                $(this).css( {
                    'cursor' : 'pointer',
                    'opacity' : '0.8',
                } );
            }, function() {
                $(this).css( {
                    'cursor' : 'auto',
                    'opacity' : '1',
                } );
            }
        );
        
        // Get coords of the main lecture div
        var start_main_lecture = $($("#lectures .lectures_container > div.lecture_item").get(x1 + y1*6)).offset(),
            h_main_lecture = $($("#lectures .lectures_container > div.lecture_item").get(x2 + y2*6)).height() + $($("#lectures .lectures_container > div").get(x2 + y2*6)).offset().top - $($("#lectures .lectures_container > div").get(x1 + y1*6)).offset().top,
            w_main_lecture = $($("#lectures .lectures_container > div.lecture_item").get(x2 + y2*6)).width() + $($("#lectures .lectures_container > div").get(x2 + y2*6)).offset().left - $($("#lectures .lectures_container > div").get(x1 + y1*6)).offset().left;

        $("#lectures .lecture_item > img").click(  function() {
                $("#lectures .lectures_container > div.main_lecture").hide(300);
                setTimeout( function() {
                    $("#lectures .lectures_container > div.main_lecture").html( "HAHHAHAHA" );
                    $("#lectures .lectures_container > div.main_lecture").show(300);
                }, 300);
            }
        );
        
        $("#lectures .lectures_container > div.main_lecture").css( {
            'position' : 'absolute',
            'top' : start_main_lecture.top + "px",
            'left' : start_main_lecture.left + "px",
            'height' : h_main_lecture + "px",
            'width' : w_main_lecture + "px",
        } );
    }
    
    /*--------------------------------------------------------
                    SPONSORSHIP STUFF
    --------------------------------------------------------- */
    function show_spons() {
        // For 2014
        $("#spons_2014_content").html(
            "<div><h3>Associate Sponsors</h3>" +
                "<a href='http://sparklab.in/'><img src=\"{% static 'img/logo/spons/sparklab_logo_only_small.png' %}\" /></a>" +
            "</div>" +
			"<div><h3>Presenting Partner</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/pres1.png' %}\" /></a>" +
            "</div>" +
            "<div><h3>Co Sponsor</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/cos1.jpg' %}\" /></a>" +
            "</div>" +
            "<div><h3>Event Partner</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/mu_sigma.png' %}\" /></a>" +
            "</div>" +
            "<div><h3>Digital Media Partner</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/vertexplus.jpg' %}\" /></a>" +
            "</div>" +
			"<div><h3>Online Media Partner</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/knowafest.png' %}\" /></a>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/dare2compete.png' %}\" /></a>" +
			"</div>" +
			"<div><h3>Internship Partner</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/internshala.png' %}\" /></a>" +
            "</div>" +
			"<div><h3>Youth Opportunity Partner</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/letmeknow.png' %}\" /></a>" +
            "</div>" +
            "<div><h3>Education Partner</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/edu1.png' %}\" /></a>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/edu2.png' %}\" /></a>" +
            "</div>" +
            "<div><h3>Outdoor Gear Partner</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/og1.png' %}\" /></a>" +
            "</div>" +
            "<div><h3>IDP</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/idp1.png' %}\" /></a>" +
            "</div>" +
            "<div><h3>Jotting Partner</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/jot1.png' %}\" /></a>" +
            "</div>" +
            "<div><h3>Gift Partner</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/gift1.png' %}\" /></a>" +
            "</div>" +
            "<div><h3>Style Partner</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/sty1.png' %}\" /></a>" +
            "</div>" +
            "<div><h3>Green Partner</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/gre1.jpg' %}\" /></a>" +
            "</div>" +
            "<div><h3>Workshop Partner</h3>" +
                "<a href=''><img src=\"{% static 'img/logo/spons/wor1.png' %}\" /></a>" +
            "</div>" +
            ""
        )

        $("#spons_2013_content").html(
            '<h3 id="sponscat">Presenting Partner</h3><br>' +
            '<a href="http://www.thehindu.com/"><img id="Presenting Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/The_Hindu_logo.jpg"></a><br>' +
            '<h3 id="sponscat">Associate Sponsor</h3><br>' +
            '<a href="http://www.robosapiensindia.com/"><img id="Associate Sponsor" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/Logo-Robosapiens.gif"></a><br>' +
            '<h3 id="sponscat">Research Partner</h3><br>' +
            '<a href="http://www.ge.com/in/"><img id="Research Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/ge_researchpartner.jpg"></a><br>' +
            '<h3 id="sponscat">Co Sponsor</h3><br>' +
            '<a href="http://www.vmware.com/"><img id="Co Sponsor" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/vmware_4.jpg"></a>' +
            '<br><br>' +
            '<a href="http://en.wikipedia.org/wiki/Eaton_Corporation" ><img id="Co Sponsor" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/Eaton_Blue.jpg.jpg"></a>' +
            '<br><br> ' +
            '<a href="http://www.boschindia.com/"><img id="Co Sponsor" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/bosch_logo.jpg"></a>' +
            '<br><br>' +
            '<a href="http://www.honeywell.com/htsl"><img id="Co Sponsor" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/Honeywell.jpg"></a>' +
            '<br><br>' +
            '<a href="http://www.qualcomm.co.in/"><img id="Co Sponsor" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/Qualcomm-Logo.jpg"></a>' +
            '<br><br>' +
            '<h3 id="sponscat">Hospitality Sponsor</h3><br>' +
            '<a href="https://www.onlinesbi.com/"><img id="Hospitality Sponsor" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/images.jpg"></a>' +
            '<br><br><h3 id="sponscat">Telecom Partner</h3><br>' +
            '<a href="http://www.ericsson.com/in"><img id="Telecom Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/Ericsson_telecompartner.png"></a>' +
                '<br><br><h3 id="sponscat">Event Sponsor</h3><br>' +
            '<a href="http://www.cerachemindia.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Event Sponsor" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/cera_logo.jpg"></a>' +
            '<br><br>' +
            '<a href="http://www.airbus.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Event Sponsor" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/airbus_events.jpg"></a>' +
            '<br><br>' +
            '<a href="http://www.mathworks.in/" onclick="javascript:openWindow(this.href);return false;"><img id="Event Sponsor" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/09_MW_logo_tagline_CMYK_LG.jpg"></a>' +
            '<br><br>' +
            '<a href="http://www.tiindia.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Event Sponsor" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/download.jpg"></a>' +
            '<br><br>' +
            '<a href="http://www.tiindia.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Event Sponsor" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/TI-Logo.jpg"></a>' +
            '<br><br>' +
            '<a href="http://i.imgur.com/fgttn.jpg" onclick="javascript:openWindow(this.href);return false;"><img id="Event Sponsor" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/Master_DotNet_Logo_RGB_WithTagline_Versign.jpg"></a>' +
                '<br><br><h3 id="sponscat">Envisage Partner</h3><br>' +
            '<a href="http://www.iitm.ac.in/" onclick="javascript:openWindow(this.href);return false;"><img id="Envisage Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/Logo_I_AR.JPG"></a>' +
                '<br><br><h3 id="sponscat">Analytics Partner</h3><br>' +
            '<a href="http://www.reverseinformatics.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Analytics Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/download_1.jpg"></a>' +
                '<br><br><h3 id="sponscat">Exhibition Partner</h3><br>' +
            '<a href="http://www.netapp.com/in/" onclick="javascript:openWindow(this.href);return false;"><img id="Exhibition Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/netapp.png"></a>' +
                '<br><br><h3 id="sponscat">Knowledge Partner</h3><br>' +
            '<a href="https://www.daad.org/index.v3page" onclick="javascript:openWindow(this.href);return false;"><img id="Knowledge Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/DAAD_200-51_HKS44.jpg"></a>' +
            '<br><br>' +
            '<a href="http://www.campusfrance.org/en" onclick="javascript:openWindow(this.href);return false;"><img id="Knowledge Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/campus_france.jpg.png"></a>' +
            '<br><br>' +
            '<a href="http://www.knowledgemagazine.in/" onclick="javascript:openWindow(this.href);return false;"><img id="Knowledge Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/BBC_Knowledge_Vertical_Unit.jpg"></a>' +
                '<br><br><h3 id="sponscat">Education Partner</h3><br>' +
            '<a href="http://www.studyinholland.nl/" onclick="javascript:openWindow(this.href);return false;"><img id="Education Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/label_1.png"></a>' +
            '<br><br>' +
            '<a href="http://educationpoland.pl/" onclick="javascript:openWindow(this.href);return false;"><img id="Education Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/Education_Poland_logo_Final_Logo.jpg"></a>' +
                '<br><br><h3 id="sponscat">Internship Partner</h3><br>' +
            '<a href="http://blog.internshala.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Internship Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/Internshala_Logo.jpg"></a>' +
                '<br><br><h3 id="sponscat">Publicity Partner</h3><br>' +
            '<a href="http://www.avocarbon.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Publicity Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/AVOCarbon_India.JPG"></a>' +
            '<br><br>' +
            '<a href="http://sunovatech.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Publicity Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/sunovatech.jpg"></a>' +
                '<br><br><h3 id="sponscat">Print Solutions Partner</h3><br>' +
            '<a href="http://www.perceptprintsolutions.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Print Solutions Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/perept_printing.jpg"></a>' +
                '<br><br><h3 id="sponscat">Online Merchandize Partner</h3><br>' +
            '<a href="http://www.almamaterstore.in/" onclick="javascript:openWindow(this.href);return false;"><img id="Online Merchandize Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/ALMA_MATER_LOGO.jpg"></a>' +
                '<br><br><h3 id="sponscat">Workshop Partner</h3><br>' +
            '<a href="http://www.dypdc.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Workshop Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/logo.gif"></a>' +
                '<br><br><h3 id="sponscat">Magazine Partner</h3><br>' +
            '<a href="http://www.chip.in/" onclick="javascript:openWindow(this.href);return false;"><img id="Magazine Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/CHIP_Logo.jpg"></a>' +
            '<br><br>' +
            '<a href="http://www.t3india.in/" onclick="javascript:openWindow(this.href);return false;"><img id="Magazine Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/T3_India_logo.jpg"></a>' +
                '<br><br><h3 id="sponscat">Online Collaboration Partner</h3><br>' +
            '<a href="http://conceptboard.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Online Collaboration Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/logo_conceptboard.png"></a>' +
                '<br><br><h3 id="sponscat">Web Hosting Partner</h3><br>' +
            '<a href="http://www.znetlive.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Web Hosting Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/znetlivelogohih_res.png"></a>' +
                '<br><br><h3 id="sponscat">Online Media Partner</h3><br>' +
            '<a href="http://www.whitedrums.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Online Media Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/logo_1.gif"></a>' +
            '<br><br>' +
            '<a href="http://www.hook2events.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Online Media Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/h2e-logo004.jpg"></a>' +
            '<br><br>' +
            '<a href="http://www.knowafest.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Online Media Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/knowafest.png"></a>' +
                '<br><br><h3 id="sponscat">Engineering &amp; Technology Partner</h3><br>' +
            '<a href="http://www.faadooengineers.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Engineering &amp; Technology Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/Med-REs-Logo_1.png"></a>' +
                '<br><br><h3 id="sponscat">Green Partner</h3><br>' +
            '<a href="http://www.greenvironmentindia.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Green Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/Greenvironment_logo.jpg"></a>' +
                '<br><br><h3 id="sponscat">Student Opportunity Partner</h3><br>' +
            '<a href="http://www.twenty19.com/" onclick="javascript:openWindow(this.href);return false;"><img id="Student Opportunity Partner" class="sponsor" src="http://spons.shaastra.org/media/present_sponsors/Twenty19_logoInternStudEvents_trans.png"></a>' +
            '<br><br><h3 id="sponscat">Apparel Sponsor</h3><br>' +
            '<a href="http://www.spectrumcasuals.com/" onclick="javascript:openWindow(this.href);return false;"><img id="" class="sponsor" src="http://www.shaastra.org/2013/main//static/img/spectrum.jpg" width="300"></a>' +
            ""
        )
        
        $("#spons_2011_content").html(
        
            "<div><h3>Co Sponsors</h3>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/5_murugappa.png' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/7_boeing.jpg' /></a>" +
            "</div>" +
            "<div><h3>Event Sponsor</h3>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/11_amanda.jpg' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/12_durr.jpg' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/13_alstrut.jpg' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/17_vestas.png' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/20_british_council.jpg' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/19_google.png' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/21_i3indya.jpg' /></a>" +
            "</div>" +
            "<div><h3>Outreach Sponsors</h3>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/10_contactSingapore.png' /></a>" +
            "</div>" +
            "<div><h3>Apparel Sponsors</h3>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/4_derby.jpg' /></a>" +
            "</div>" +
            "<div><h3>Gift Sponsors</h3>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/14_ongc.jpg' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/15_sail.jpg' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/22_alienware.png' /></a>" +
            "</div>" +
            "<div><h3>Data Partner</h3>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/16_futuresfirst.jpg' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/23_NAL.png' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/26_suryanFM.png' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/27_ntpc.png' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/28_unionBank.png' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/29_nmdc.png' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/30_indianAutosBlog.png' /></a>" +
                "<a href=''><img src='http://spons.shaastra.org/media/sponsors/31_freecharge.jpg' /></a>" +
            "</div>" +
            ""
        )
    
    }
    
    /*--------------------------------------------------------
                    ON BODY LOAD HANDLER
    --------------------------------------------------------- */
    function pagechange( e ) {
        if ( $.type(e) == 'string' ) { // else if : STRING
            var place = e;
            window.location.hash = place;
        } else { // Get place from hashfrag - changed by someone else
            var place = window.location.hash.substr(1).split(" ").join("").split("-").join("").toLowerCase()
        }
        
        // Check if the hashfrag is for the sections -- REDUNDANT - as browser will take care of it
        list_navs = $(".navbar ul.nav a")
        for ( var i = 0; i < list_navs.length; i++ ) {
            if( list_navs[i].href.split("#")[list_navs[i].href.split("#").length-1] + "_page" == place ) {
                // Got the link in one of the navbar links -- go to that location
                // list_navs[i].click()
                $('html, body').scrollTo(list_navs[i].hash, list_navs[i].hash);

            }
        }

        // Check if the hashfrag corresponds to event-groups
        event_groups = $(".event_items_div .event_item a")
        for( var i = 0; i < event_groups.length; i++ ) {
            var category_name = event_groups[i].id.substring(11)
            
            if( place == category_name.split(" ").join("").split("-").join("").toLowerCase() ) {
                // Got the event-group to show
                $('html, body').scrollTo($('.navbar ul.nav a[href=#events]')[0].hash, $('.navbar ul.nav a[href=#events]')[0].hash);
                event_groups[i].click()
                break;
            }
            
            // Also check if it corresponds to any event in the event group
            category_name = category_name.replace(/_/g, " ");
            str_array = category_name.split(/([_\W])/); // split based on spaces
            category_name = "";
            for(var j=0; j<str_array.length; j++){
                if(str_array[j] == "design"){
                    category_name = "Design and build";
                    break;
                }
                else {
                    category_name += str_array[j].charAt(0).toUpperCase() + str_array[j].slice(1);
                }
            }
            event_list = json_content[category_name];
            
            if( event_list ) {
                //console.log("CHECKED HASH")
                for( var j = 0; j < event_list.length; j++ ) {
                    //console.log(event_list[j].title.split(" ").join("_").split("-").join("_").toLowerCase())
                    if(event_list[j].title.split(" ").join("_").split("-").join("_").toLowerCase() == place) {
                        // Finally found an event !
                        $('html, body').scrollTo($('.navbar ul.nav a[href=#events]')[0].hash, $('.navbar ul.nav a[href=#events]')[0].hash);
                        //if( ! $('.main_event_item.event_item') ) {
                            show_event_group(event_groups[i], false) // open the evnt_group if not already opened
                        //}
                        document.getElementById('event_no_'+event_list[j].pk+'_click').click()
                        
                    }
                }
            }
            
        }

        // Check if it was login modal
        if( place == 'login' ) {
            $("#login").modal()
            
        } else {
            $("#login").modal('hide')
        }
        //console.log(event_groups)
    }
    $(window).bind( 'hashchange',  pagechange );

    
    document.addEventListener('DOMContentLoaded', function() {
        if( ! Modernizr.webgl ) {
            $.bootstrapGrowl("The website may not be compatible with your browser. To get the best experience, use the latest Chrome or Firefox browser")
            $.bootstrapGrowl("Or maybe you do not have some features like css3D and WebGL enabled in your browser")
        }
        $("#hexa-dice-container").html('<div id="hexaflip" class="logo_bottom_home"></div>');
        hexa = new HexaFlip(document.getElementById('hexaflip'), makeObject(text), settings);
        hexa_init();
        make_banner();
        init_banner();
        boxlayout_init();
        //size_main_lecture();
        //$(".tooltip").tooltip();
        $('#spons_tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
        $('#hospi_tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
        //$($('#hospi_tabs a')[0]).click()
        $(".tooltip-bottom").tooltip({
            placement : "bottom",
        } );



        
        show_spons();
        
    }, false);
    $(window).resize( function () {
        make_banner();
        init_banner();
        //size_main_lecture()
    } );
</script>

