{% load staticfiles %}
<!-- NAVIGATION  -->        
        <style>
        #find_my_event{
            width: 260px;
    padding: 5px;
    padding-right: 40px;
    outline: none;
    border: 2px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    font-family: Cambria, Cochin, Georgia, serif;
    font-size: 16px;
    background-position: 270px -10px;
    background-image: url('http://www.kirupa.com/images/search.png');
    background-repeat: no-repeat;
    
    -webkit-transition: background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;
                        
    -moz-transition: background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;
                        
    -o-transition: background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;
                        
    -ms-transition: background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;
                        
    transition: background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;
        }
        #find_my_text:active{
            background-color: #FFFFFF;
    border-color: #333333;
    box-shadow: 0px 0px 25px -2px #333;
    background-position: 270px -80px;
        }
        </style>
        <div class="navbar-wrapper" style="height: auto;">
            <div class="navbar" id="navigation" style="top: 0px;">
                <div class="navbar-inner">
                    <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class='row' style='min-height: 40px; padding-left: 20px; padding-right: 20px;'>
                        <a class="brand" href=""><img src="{% static 'img/logo/small_color.png' %}" /></a>
                        <a class="brand_color hide" href=""><img src="{% static 'img/logo/small_color.png' %}" /></a>
                        <a class="brand_bw hide" href=""><img src="{% static 'img/logo/small_color.png' %}" /></a>
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right" id='navbar_list'>
                                <li style='margin-right : 10px;' id="login_logout">
                                    {% if not request.user.is_authenticated%}
                                        <a href="#login" onclick="$('#login').modal();">Login | Sign Up </a>
                                    {% else %}
                                        <div class='btn-group'>
                                            <a href="#dashboard" class="btn"><i class='icon-user icon-white'></i>&nbsp;My Dashboard&nbsp;&nbsp;</a>
                                        </div>
                                    {% endif %}
                                </li>
                                <li><a href="#home" class="active">Home</a></li>
                                <!--<li id='nav-aboutus'><a href="#aboutus" class="">AboutUs</a></li>-->
                                <li><a href="#events" class="">Events</a></li>
                                <li><a href="#shows" class="">Shows</a></li>
                                <li><a href="#lectures" class="">Lectures</a></li>
                                <li><a href="#hospi" class="">Hospitality</a></li> 
                                <li><a href="#spons" class="">Sponsors</a></li>
                                <li><a href="#contact" class="">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class='row'>
                        <span class='pull-left span4_5' style='margin-top : -10px;'>
                            <center>
                                <div class='input-append'>
<!--                                    <input style='height : auto' id="find_my_event" type="select" placeholder="Find the event"  style="height:20px" data-provide="typeahead" data-items="4" data-source="[{{eventstr}}]" data-updater="myFunc();">-->
                                   <input style='height:auto;' id="find_my_event" type="select" placeholder="Search for any event here" data-provide="typeahead" data-items="4" data-source="[{{eventstr}}]" onchange = "$($(this).parents()[0]).children('ul').attr('onclick',eventSearch);" onclick="window.location.hash = '#events';    ">
                                    
<!--                                    <input style='height : auto' id="find_my_event" type="text" placeholder="Find the event"  style="height:20px">-->
<!--                                    <input style='height : auto' type="text" data-provide="typeahead" data-source='["aaa", "sss", "ddd"]'>-->
<!--                                    <input class="btn btn-primary" type="button" value="Search" onclick = "window.location.hash = $('#find_my_event').val().replace(/ /g,'_').toLowerCase();$('#find_my_event').val('')" />-->
                                </div>
                            </center>
                        </span>
                        <div class='span12 pull-right'>
                        <marquee behavior="scroll" direction="left" scrollamount="5" scrolldelay="1" style='font-weight : 900;' onmouseover="this.stop();" onmouseout="this.start();">
                            <i class='icon-bullhorn' style='padding-left:10px;padding-right:10px;'></i>
                            Deadlines for the second round of TDP(Team Description Paper) submission have been extended to 4th &amp; 6th Dec 
                            <i class='icon-bullhorn' style='padding-left:10px;padding-right:10px;'></i>
                            Find workshop details <a href="http://www.shaastra.org/2014/Shaastra2014_Workshops.pdf" target="_blank">here</a>. Workshop registrations have started! 
                            <i class='icon-bullhorn' style='padding-left:10px;padding-right:10px;'></i>
                            Details of the certificate policy for all the events and workshops can be found <a href='{{MEDIA_URL}}certificate_policy.pdf'>here</a> 	
                            <i class='icon-bullhorn' style='padding-left:10px;padding-right:10px;'></i>
                            Results of the first round of TDP(Team Description Paper) Submission  are out!
                            <i class='icon-bullhorn' style='padding-left:10px;padding-right:10px;'></i>
                            Guidelines for event registration can be found <a href='{{ MEDIA_URL }}shaastra_guidelines.pdf'>here</a> 
                            <i class='icon-bullhorn' style='padding-left:10px;padding-right:10px;'></i>
                            Problem statements for all the pre-registered events are up 
                            <i class='icon-bullhorn' style='padding-left:10px;padding-right:10px;'></i>                      
                        </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END NAVIGATION  -->
