<html>
<head>
    <meta charset="utf-8">
    <title>Shaastra | 2014</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

   <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    
	
    <script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>
    
<script>
function goto(id, t){
    //animate to the div id.
    $(".contentbox-wrapper").animate({"left": -($(id).position().left)}, 600);
 
    // remove "active" class from all links inside #nav
    $('#nav a').removeClass('active');
 
    // add active class to the current link
    $(t).addClass('active');
}
$(document).ready(function(){
	$("#WD").click(function() {
		$('#WD').removeClass('btn-inverse');
		$('#WD').addClass('btn-default');
	});
});
</script>

<style>
#page{
position:relative;
left:-5%;
width:100%;

}
#content{
    overflow:hidden;
    -moz-box-shadow: 0 0 2px 2px #ccc;
    -webkit-box-shadow: 0 0 2px 2px #ccc;
    box-shadow: 0 0 2px 2px #ccc;
   width:540px;
}
 
.contentbox-wrapper{
    position:relative;
    left:0;
    width:3000px;
    height:400px;
}
 
.contentbox{
    width:540px;
    height:100%;
    float:left;
    padding:10px;
    background:#fff;
   box-shadow: 0 0 2px 2px #ccc;
}

</style>


</head>
<body>

<div class="container" style="top:75px; left:75px; position:absolute;">
<div class="row" style="left:30px; position:relative;">
<h1 align="center">AEROFEST</h1>
<div class="navbar navbar-inverse" >
  
        <ul class="nav">
          <li><a href="#"  onClick="goto(, this); return false"  ><b>WRIGHT DESIGN</b></a></li>
          <li style="color:black;"><a href="#" onClick="goto('#intro', this); return false"  >Introduction</a></li>
          <li><a href="#" onClick="goto('#prob', this); return false"  >ProblemStatement</a></li>
          <li><a href="#" onClick="goto('#resor', this); return false" >Resourses</a></li>
          <li><a href="#"  onClick="goto('#quai', this); return false">Faq's</a></li>
 <li><a href="#" onClick="goto('#contact', this); return false" >Contact details</a></li>
          </ul>
</div><!-- /.navbar -->	<!-- /.navbar -->
</div>
<div class="row">
<div class="span3">
<div class="row" style="margin:15px; position:relative;"><a id="WD" class="btn btn-inverse btn-lg btn-block" >WRIGHT DESIGN</a></br></div>
<div class="row" style="margin:15px; position:relative;"><a class="btn btn-inverse btn-lg btn-block"> PAPER PLANES </a></br></div>
<div class="row" style="margin:15px; position:relative;"><a class="btn btn-inverse btn-lg btn-block">AEROBOTICS</a></br></div>
<div class="row" style="margin:15px; position:relative;"><a class="btn btn-inverse btn-lg btn-block">TOP GUN</a></br></div>
</div>

<div id="page" >
<div id="content">
  <div class="contentbox-wrapper">
        <div id="intro" class="contentbox">
            <h3>INTRODUCTION</h3>
            <p>wright design is....</p>
        </div>
 
        <div id="prob" class="contentbox">
            <h3>PROBLEM STATEMENT</h3>
            <p>wright design ...</p>
        </div>
      <div id="resor" class="contentbox">
            <h3>RESORSES</h3>
            <p>wright design... </p>
        </div>
   <div id="quai" class="contentbox">
            <h3>FAQ'S</h3>
            <p>wright design... </p>
        </div>
  <div id="contact" class="contentbox">
            <h3>CONTACT DETAILS</h3>
            <p>contact... </p>
        </div>
    </div>
 
</div>
</div>
</div>
</body>
</html>