
        <!-- HEADER HOME  -->
        <section id="home">
            <div class="row centered">
                <h1 class="fade-it"><img alt="YOURLOGO" src="{% static 'img/logo/header.png' %}"></h1>
                <div class="flexslider">
                    <ul class="slides">
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;" class="flex-active-slide">
                            <h2>clean, minimal &amp; responsive</h2>
                            <h2>
                                <i class="icon-desktop"></i>
                                <i class="icon-tablet"></i>
                                <i class="icon-mobile-phone"></i>
                            </h2>
                        </li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class=""><h2>softness of feathers...</h2></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class=""><h2>... inspired by purity</h2></li>
                    </ul>
                </div>
            </div>

            <!-- LITTLE LOGO SEE WHAT WE DO --> 
            <div id="down_button" class="fade-it"><a href="http://uexel.us/themes/serenity/narrow/#whatwedo"></a></div>
            <div class="social-header hidden-phone">

                <a href="#" class="social-network sn2 behance"></a>
                <a href="#" class="social-network sn2 facebook"></a>
                <a href="#" class="social-network sn2 pinterest"></a>
                <a href="#" class="social-network sn2 flickr"></a>
                <a href="#" class="social-network sn2 dribbble"></a>
                <a href="#" class="social-network sn2 lastfm"></a>
                <a href="#" class="social-network sn2 forrst"></a>
                <a href="#" class="social-network sn2 xing"></a>   


            </div>
            <!-- END LITTLE LOGO SEE WHAT WE DO --> 

        </section>
        <!-- END HEADER HOME  -->
