
/* ----------------------------------------------------
                LOGIN & REGISTER
------------------------------------------------------*/
.modal-small { width: 200px; margin-left: -100px; }
.modal-large { width: 900px; margin-left: -450px; }
#login .modal-body.login_register {
}
#login .modal-body.login_register > .form_login_div {
    position : fixed;
}
#login .modal-body.login_register span.helptext {
    display : none;
}
#login .modal-body.login_register table tr:nth-child(2n) {
    width : 50%;
    float : left;
}
#login .modal-body.login_register table tr:nth-child(2n+1) {
    width : 50%;
    float : right;
}

#login .modal-body.login_register table tr.submit_tr,
#login .modal-body.login_register table tr.college_tr {
    margin : auto;
    padding : auto;
    width : 100%;
}
#login .modal-body.login_register table td {
    width : 100%;
}
#login .modal-body.login_register table th {
    display : none;
    width :50%;
    
    float : left;
    padding-right : -20px;
}
#login .modal-body.login_register table td {
    width : 50%;
    float : right;
}
#login .modal-body.login_register input {
    height : auto;
}



/* ----------------------------------------------------
                    DICE HEXAFLIP
------------------------------------------------------*/
#hexaflip {
  margin: 0 auto;
  -webkit-filter: drop-shadow(30px 30px 23px rgba(0,0,0,0.3));
  -moz-filter: drop-shadow(30px 30px 23px rgba(0,0,0,0.3));
  filter: drop-shadow(30px 30px 23px rgba(0,0,0,0.3));
  margin-bottom: 4rem;
}
#hexaflip .hexaflip-cube {
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
#hexaflip .hexaflip-cube .hexaflip-left,
#hexaflip .hexaflip-cube .hexaflip-right {
  background-color: #222 !important;
}
#hexaflip .hexaflip-cube > div {
  font-weight: 100;
  text-shadow: none;
}
#hexaflip .hexaflip-cube > div:nth-child(1n+1) {
  background-color: #444;
}
#hexaflip .hexaflip-cube > div:nth-child(2n+2) {
  background-color: #666;
  background-color: #666;
}
#hexaflip .hexaflip-cube > div:nth-child(3n+3) {
  background-color: #555;
}
#hexaflip .hexaflip-cube > div:nth-child(4n+4) {
  background-color: #eee;
  color: #222;
}
.hexaflip-cube {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -ms-transition: -ms-transform 0.4s;
  transition: transform 0.4s;
}
.hexaflip-cube.no-tween {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  -ms-transition-duration: 0;
  transition-duration: 0;
}
.hexaflip-cube > div {
  width: 100%;
  overflow: hidden;
  height: 100.5%;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-weight: 100;
  text-shadow: 0 -2px 0 rgba(0,0,0,0.2);
  line-height: 1.5;
}
.hexaflip-left,
.hexaflip-right {
  background-color: #555 !important;
}
.hexaflip-timepicker .hexaflip-cube:last-child > div:nth-child(odd) {
  background-color: #ff575b;
}


/* ----------------------------------------------------
                FOR BANNER
------------------------------------------------------*/
#home {
    overflow : hidden;
    position : relative;
}
#home > div#banner_div {
    position : absolute;
    height : 100%;
    width : 100%;
    top : 0;
    z-index : 10;
    width:100%;
    height:100%;
    margin-bottom : 1%;
    color:#FFF;
    background:url('../../img/home/banner.png') no-repeat center 0 fixed;
    background-color: rgba(0, 0, 0, 0.25); 
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-attachment : fixed;  /* FIXED FOR IE */
    border-bottom-left-radius : 50% 20%;
    border-bottom-right-radius : 50% 20%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    z-index : 5;
}
#home > div#banner_div > div:nth-child(1) {
    display : inline-block;
    width : 9.50%;
    height : 21.8%;
    
}
#home > div#banner_div > div:nth-child(2) ,
#home > div#banner_div > div:nth-child(12),
#home > div#banner_div > div:nth-child(13),
#home > div#banner_div > div:nth-child(23),
#home > div#banner_div > div:nth-child(24),
#home > div#banner_div > div:nth-child(34) {
    width : 7.20%;
}


/* --------------------------------------------------
                SOCIAL STUFF
 ----------------------------------------------------- */

.social-fb {
    position : absolute;
    bottom : 0;
    left : 0;
    height : 20%;
    width : 30%;
    background : transparent;
    background:url('../../img/home/fb.png') no-repeat right 0 fixed;
    z-index : 1;
}
.social-twitter {
    position : absolute;
    bottom : 0;
    right : 0;
    height : 20%;
    width : 30%;
    background : transparent;
    background:url('../../img/home/twit.png') no-repeat left 0 fixed;
    z-index : 1;
}
