{% load staticfiles %}
    <!-- SHOWS SECTION  -->
        <section id="aboutus" class='sec'>
            <div class="container">
                <div class="row">
                    <div class="span12 centered white">
                        <h2>About Us</h2>
                        <div class="white breaker"><span class="left"></span><div class="dice white"></div><span class="right"></span></div>
                    </div>
                </div>
                <div class="row centered">
                    <div style='position : relative; background-color : rgba(0, 0, 0, .20); border-radius : 5px; padding : 10px; margin : 10px;'>
                        WHAT IS SHAASTRA?<br />

                        Shaastra is the world of students<br />
                        It is by the students, of the students, for the students<br />
                    </div>
                    <div style='position : relative; background-color : rgba(0, 0, 0, .20); border-radius : 5px; padding : 10px; margin : 10px;'>
                        Shaastra is innovation<br />
                        New ideas come to the fore, new formats are born, records are meant to be broken<br />
                        Shaastra is about transformation, rejuvenation and regeneration<br />
                        It is about the courage to burn in flames only to be reborn from the ashes stronger than ever.
                    </div>
                    <div style='position : relative; background-color : rgba(0, 0, 0, .20); border-radius : 5px; padding : 10px; margin : 10px;'>
                        Shaastra is beyond science<br />
                        It is born of science, inspired by science and driven by science, but not constrained by science<br />
                        Shaastra is the technical festival of the Indian Institute of Technology – Madras, Chennai, India<br />
                        Cometh January, prepare for the greatest science and technology extravaganza of the year - with fierce competitions, involved workshops and a never-seen-before line up of lectures and exhibitions. To top it all, this Shaastra we push all boundaries as the sharpest engineering minds of the country take a shot at the moon! <br />
                        Also marking their return will be the extremely popular Envisage Night and the Airshow<br />
                        <br />
                        Shaastra 2014. Breaking Boundaries.<br />
                    </div>
                </div>
            </div>
        </section>
        <!-- END SHOWS SECTION  -->
