{% load staticfiles %}
    <!-- SHOWS SECTION  -->
        <section id="aboutus" class='sec'>
            <div class="container">
                <div class="row">
                    <div class="span12 centered white">
                        <h2>About Us</h2>
                        <div class="white breaker"><span class="left"></span><div class="dice white"></div><span class="right"></span></div>
                    </div>
                </div>
                <div class="row centered">
                    <div style='position : relative; background-color : rgba(0, 0, 0, .20); border-radius : 5px; padding : 10px; margin : 10px;'>
                            <b>WHAT IS SHAASTRA?</b> <br />
                            Shaastra is innovating.<br />
                            New ideas come to the fore, new formats are born, boundaries are broken at Shaastra.<br />
                    </div>
                    <div style='position : relative; background-color : rgba(0, 0, 0, .20); border-radius : 5px; padding : 10px; margin : 10px;'>
                        Shaastra is the world of students. It is by the students, for the students and of the students. <br />
                        Shaastra is beyond science. It is born of science, it is inspired by science and driven by science, but not constrained by science.
                    </div>
                    <div style='position : relative; background-color : rgba(0, 0, 0, .20); border-radius : 5px; padding : 10px; margin : 10px;'>
                        Shaastra is everything that is new, and a little of the glorious past. <br />
                        "Only by standing on the shoulders of the giants can you see into the distance"...Isaac Newton
                        At Shaastra, we agree.
                    </div>
                    <div style='position : relative; background-color : rgba(0, 0, 0, .20); border-radius : 5px; padding : 10px; margin : 10px;'>
                        Shaastra is about transformation, rejuvenation and regeneration.<br />
                        Shaastra is about changing with the times. Constantly changing. It is about the courage to throw away the old, and make it new and important again.<br />
                        <br />
                        Shaastra is the pathway to everything that’s possible.<br />
                        And of making the impossible possible.<br />
                        <br />
                        Shaastra is about science and technology, learning and playing, inspiring and being inspired.<br />
                        <br />
                        Shaastra is about exploring, pushing the boundaries of that which is possible and embracing knowledge.<br />
                        <br />
                        This is Shaastra.<br />
                        <br />
                        Shaastra 2014. Let the dice roll.<br />
                        Cometh January, prepare for the greatest science and technology extravaganza of the year - with the most innovative and competitive competitions, lectures by some of the most active and involved minds of the world, workshops and exhibitions at a scale never seen before, and of course a shot at the moon by the sharpest engineering minds of the country! Also marking their return will be the extremely popular Envisage Night and Airshow! Envisage 2.0 shall be bigger and better, with several new acts, again all student-choreographed and exhibiting some of the latest technology. We can barely contain our excitement. What about you?<br />
                        <br />
                        Follow us at <a href="http://www.facebook.com/Shaastra">Facebook</a> and <a href='http://www.twitter.com/ShaastraIITM'>Twitter</a>.<br />
                    </div>
                </div>
            </div>
        </section>
        <!-- END SHOWS SECTION  -->
