{% load staticfiles %}
    <!-- SHOWS SECTION  -->
        <section id="shows" class='sec'>
            <div class="container">
                <div class="row">
                    <div class="span12 centered">
                        <h2>Shows</h2>
                        <div class="breaker"><span class="left"></span><div class="dice"></div><span class="right"></span></div>
                    </div>
                </div>
                <div class="row">

                    <div class="span3 project">

                        <img src="{% static 'img/pages/1.png' %}" alt="" class="project-img">
                        <a href="http://uexel.us/themes/serenity/narrow/img/thumbs/1big.png' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>



                    </div>
                    <div class="span3 project">

                        <img src="{% static 'img/pages/2.png' %}" alt="" class="project-img">
                        <a href="http://uexel.us/themes/serenity/narrow/img/thumbs/2big.png' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>



                    </div>
                    <div class="span3 project">

                        <img src="{% static 'img/pages/3.png' %}" alt="" class="project-img">
                        <a href="http://uexel.us/themes/serenity/narrow/img/thumbs/3big.png' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>



                    </div>
                    <div class="span3 project">

                        <img src="{% static 'img/pages/4.png' %}" alt="" class="project-img">
                        <a href="http://uexel.us/themes/serenity/narrow/img/thumbs/4big.png' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>



                    </div>
                    <div class="span3 project">

                        <img src="{% static 'img/pages/5.jpg' %}" alt="" class="project-img">
                        <a href="{% static 'img/5.jpg' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>

                    </div>
                    <div class="span3 project">

                        <img src="{% static 'img/pages/6.jpg' %}" alt="" class="project-img">
                        <a href="{% static 'img/6.jpg' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>

                    </div>
                    <div class="span3 project">

                        <img src="{% static 'img/pages/7.jpg' %}" alt="" class="project-img">
                        <a href="{% static 'img/7.jpg' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>

                    </div>
                    <div class="span3 project">

                        <img src="{% static 'img/pages/8.jpg' %}" alt="" class="project-img">
                        <a href="{% static 'img/8.jpg' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- END SHOWS SECTION  -->
