{% load staticfiles %}
    <!-- SHOWS SECTION  -->
        <section id="shows" class='sec'>
            <div class="container">
                <div class="row">
                    <div class="span12 centered">
                        <h2>Shows</h2>
                        <div class="white breaker"><span class="left"></span><div class="dice white"></div><span class="right"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div style='position : relative; background-color : rgba(0, 0, 0, .20); border-radius : 5px; padding : 10px; margin : 10px; '>
                        
                        <div style='float : right; border-radius : 5px; padding : 10px; margin : 10px;' class='embed-container'>
                            <iframe src="http://www.youtube.com/watch?v=yOYbyjE3Vtw"; frameborder="0"> </iframe>
                        </div>
                        
                        &emsp;&emsp;&emsp;After the overwhelming applause to Envisage at Shaastra 2013, we take a giant leap ahead, to present to you, a novel technical show defying your imagination, revolutionizing basic science and technology. The students of IIT Madras raised the bars, orchestrated and organized an event replacing the professional shows in Shaastra. Sit back and get ready to experience an adrenalin rush, let your jaws drop in awe as the transcendental fusion of art and technology pleasures your visual senses and stupefies you with audio effects.<br />
                        &emsp;&emsp;&emsp;We bet on ourselves to take you through a journey into Neverland, giving a new dimension to entertainment and turning projects undertaken by us into a memory you will long cherish!
                        
                    </div>
                    
                    <div style='position : relative; background-color : rgba(0, 0, 0, .10); border-radius : 5px; padding : 10px; margin : 10px; width : 50%;'>
                        
                    </div>
                    <div style='position : relative; background-color : rgba(0, 0, 0, .15); border-radius : 5px; padding : 10px; margin : 10px;'>
                        &emsp;&emsp;&emsp;The work of science can be enigmatic deceiving your eyes by showing animations with just a strip of LEDs. You will know which boxes to blame if you are unable to get sleep that night. Instrumentalists will be seen throwing their guitars and drum-sticks in their backyard after witnessing the Wireless Instruments. DJs will seem cliché after you are mesmerized by Virtual Music Mixing. You will be pinching the person next to you just to check if he isn't a hologram. Ever wondered how changing patterns on a screen can amaze you with music. You will witness a new groundbreaking performance after watching our techno cultural show.
                    </div>
                    <div style='position : relative; background-color : rgba(0, 0, 0, .05); border-radius : 5px; padding : 10px; margin : 10px;'>
                        &emsp;&emsp;&emsp;Like a seagull skimming the waves of entertainment over the ocean of imagination, with the technical dexterity of IIT-M students to give wings to our dream, we are set to roar into the blues of success. Join us at Shaastra 2014 to share the awe and experience the Dream Kingdom!
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- END SHOWS SECTION  -->
