
#evolve .evolve_content .evolve_content .evolve_tab{
    width : 100%;
    height : 30%;
    position : relative;
    top : 40%;
}
#evolve .evolve_content .evolve_left{
    display : inline-block;
    width : 32%;
    height : 0px;
    border-top : 200px solid rgba(0,0,0,0.75);
    border-right : 45px solid transparent;
    text-align : right;
}
#evolve .evolve_content .evolve_left:hover{
    border-top : 200px  solid rgba(0,153,153,0.8);
    border-right : 45px solid transparent;
}



#evolve .evolve_content .evolve_middle{
    display : inline-block;
    width: 24%;
    height: 200px;
    -webkit-transform: skew(-13deg); 
    -moz-transform: skew(-13deg); 
    -o-transform: skew(-13deg); 
    background: rgba(0,0,0,0.75);
}

#evolve .evolve_content .evolve_middle:hover{
     background: rgba(0,153,153,0.8);
    
}



#evolve .evolve_content .evolve_right{
    display : inline-block;
    width: 32%;
    height: 0px;
    border-bottom: 200px  solid rgba(0,0,0,0.75);
    border-left: 45px solid transparent;
    text-align : left;
}

#evolve .evolve_content .evolve_right:hover{
   border-bottom: 200px  solid rgba(0,153,153,0.8);
   border-left: 45px solid transparent;
}
