/* ----------------------------------------
 *               For events carousel
 -----------------------------------------------------*/ 
#events .event_item {
    margin-bottom:10px;
    position:relative;
    overflow:hidden;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#events .event_item img {
    width:100%;
    display:block;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
    filter: url(../../svg/filters.svg#grayscale); /* Firefox */           
}

#events .event_item:hover img {
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Webkit */
}
#events .event_item.hidden {
    display:none;
}
#events .event_item:before {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content:'';
    z-index:3;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
}


#events .event_item > a {
    position:absolute;
    z-index:10;
    left:0;
    right:0;
    top:0;
    text-align:center;
    height: 100%;
    width: 100%;
}


/* Sub items */
#events .event_items_div.sub_events {
}
#events .sub_event_item.event_item {
}


/* Main items */
#events .main_event_item {
    height : 0;
}
#events .main_event_item.event_item {
    height : 50%;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0;
}


/* Carousel Elements */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
.carousel-indicators li.active {
    background-color : #000;
    background-color : rgba(0, 0, 0, 0.75);
}
.carousel-indicators li {
    cursor : pointer;
    background-color : #888;
    background-color : rgba(0, 0, 0, 0.25);
}
.carousel-control.left {
    left : -10%;}

.carousel-control.right {
    right : -10%;}

/* Events main - Box Layout*/
.main_event_item.event_item {
    margin-left : 50px;
}
.main_event_item.event_item > div {
    position : relative;
    color : #000;
    height : 50%;
    padding : 0;
    margin : 2px;
    cursor : pointer;
    z-index : 10;
    vertical-align : middle;
    vertical-align : center;
    text-align : middle;
    text-align : center;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    opacity : 0.9;
}
.main_event_item.event_item > div {
    color : #000;
}
.main_event_item.event_item > div > div:nth-child(1) {
    vertical-align : middle;
    vertical-align : center;
    padding : 0;
    margin : 0;
}
.main_event_item.event_item > div > div:nth-child(1) > h3 {
    font-size : 1.4em;
}
.main_event_item.event_item > div:hover {
    opacity : 1;
}
.main_event_item.event_item > div:nth-child(4n+1) {
    /*background: rgba(57, 76, 73, 0.60);*/
    /*background: #4E7AC7;*/
    background: #3E6AB7;
}
.main_event_item.event_item > div:nth-child(4n+2) {
    /*background: rgba(91, 116, 133, 0.45);*/
    background: #35478C;
}
.main_event_item.event_item > div:nth-child(4n+3) {
    /*background: rgba(0, 0, 0, 0.55);*/
    background: #16193B;
}
.main_event_item.event_item > div:nth-child(4n+4) {
    /*background: rgba(86, 114, 109, 0.50);*/
    /*background: #7FB2F0;*/
    background: #3E6AB7;
}

.main_event_item.event_item > div > div:nth-child(1) {
    margin : 3px;
    color : #fff;
}
.main_event_item.event_item > div > div {
    height : 100%;
    width : 100%;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
}
.main_event_item.event_item > div.expand {
    position : absolute;
    width : 100%;
    height : 100%;
    cursor : default;
    background : transparent;
}
.main_event_item.event_item > div.expand > div.title {
    overflow : hidden;
}

/* ---------------------------------------------------
                EVENT PAGE
---------------------------------------------------------- */

.main_event_item.event_item > div.expand > div:not(first) {
    margin : 0;
    padding : 0;
}
.main_event_item.event_item > div.expand > div:not(first) > button {
    padding-left : 20px;
}
.main_event_item.event_item > div.expand > div:not(first) > h4 {
    color : #000;
    font-weight : 900;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
    padding-left : 100px;
}
.main_event_item.event_item > div.expand > div:not(first) > h4 > span {
    padding-right : 100px;
}
.main_event_item.event_item > div.expand > div:not(first) > h4 > span:hover {
    color : rgba(0, 0, 0, 0.9);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    
}

.sidr {
    margin : 0;
    margin-right : -30px;
    padding : 0;
    text-align : left;
    overflow-x: none;
    overflow-y: auto;
    font-size: 1em;
    color: #000;
}
.sidr ul {
    display: block;
    margin: 0;
    padding: 0;
    line-height : 1.5em;
}
.sidr ul li {
    text-shadow : 1px 0px 2px rgba(0, 0, 0, 0.7);
    text-shadow : -1px 0px 2px rgba(0, 0, 0, 0.7);
    cursor : pointer;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    color : #ffffff;
    padding : 4%;
    border-radius : 10px;
    background : rgba(0, 0, 0, 0.9);
    margin-top : 5px;
}
.sidr ul li:hover {
    text-shadow : 0px 0px 0px rgba(0, 0, 0, 0.7);
    color : #000;
    color : rgba(0, 0, 0, 0.8);
    padding-left : 8%;
    background : transparent;
}
.sidr ul li.active {
    text-shadow : 0px 0px 0px rgba(0, 0, 0, 0.7);
    color : #000;
    color : rgba(0, 0, 0, 1);
    font-size : 1.05em;
    font-weight : bold;
    padding-left : 8%;
    background : transparent;
    border : 2px solid #000;
}
.sidr ul li a, .sidr ul li span {
}
.main_event_item.event_item > div.expand > div:not(first) > div:not(first) {
    overflow-y : auto;
    margin : 0;
    padding : 0;
}

.event_back {
    display : none;
    cursor : pointer;
}

/* span 1.5, 4.5 for events display */
.span0_5 {
  width: 33.333px;
}
.span1_5 {
  width: 100px;
}
.span4_5 {
  width: 340px;
}
.span5_5 {
  width: 373.333px;
}
