/*  For events carousel */
#events .event_item {
    margin-bottom:10px;
    position:relative;
    overflow:hidden;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#events .event_item img {
    width:100%;
    display:block;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
}
#events .event_item.hidden {
    display:none;
}
#events .event_item:before {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content:'';
    z-index:3;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
}

#events .event_item span.overlay {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(70,70,70,0.8);
    z-index:2;
    opacity:0;
    filter:alpha(opacity=0);
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
    transition:opacity .2s;
    -moz-transition:opacity .2s;
    -webkit-transition:opacity .2s;
    -o-transition:opacity .2s;
}

#events .event_item .cnt {
    position:absolute;
    z-index:10;
    left:0;
    right:0;
    top:0;
    text-align:center;
    height: 100%;
    width: 100%;
    opacity:0;
    filter:alpha(opacity=0);
    transition:opacity .2s;
    -moz-transition:opacity .2s;
    -webkit-transition:opacity .2s;
    -o-transition:opacity .2s;
}

#events .event_item .cnt strong {
    font-weight:400;
    display:block;
    padding-bottom:27px;
}

#events .event_item .cnt h5 {
    font-size:30px;
    font-weight:700;
    padding-bottom:15px;
}
#events .event_item:hover span.overlay,.event_item:hover .cnt {
    opacity:1;
    filter:alpha(opacity=100);
}

/* Sub items */
#events .event_items_div.sub_events {
}
#events .sub_event_item.event_item {
}


/* Main items */
#events .main_event_item {
    height : 0;
}
#events .main_event_item.event_item {
    height : 50%;   
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0;
}


/* Carousel Elements */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
.carousel-indicators li.active {
    background-color : #000;
    background-color : rgba(0, 0, 0, 0.75);
}
.carousel-indicators li {
    cursor : pointer;
    background-color : #888;
    background-color : rgba(0, 0, 0, 0.25);
}
.carousel-control.left {
    left : -10%;}

.carousel-control.right {
    right : -10%;}

/* Events main - Box Layout*/
.main_event_item.event_item {
    margin-left : 50px;
}
.main_event_item.event_item > div {
    position : relative; 
    height : 50%;
    padding : 0;
    margin : 0;
    cursor : pointer;
    z-index : 10;
    vertical-align : middle;
    vertical-align : center;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
}
.main_event_item.event_item > div:nth-child(5n+1) {
    background: rgba(57, 76, 73, 0.60);
}
.main_event_item.event_item > div:nth-child(5n+2) {
    background: rgba(91, 116, 133, 0.45);
}
.main_event_item.event_item > div:nth-child(5n+3) {
    background: rgba(0, 0, 0, 0.55);
}
.main_event_item.event_item > div:nth-child(5n+4) {
    background: rgba(86, 114, 109, 0.50);
}
.main_event_item.event_item > div:nth-child(5n) {
    background: rgba(115, 152, 146, 0.65);
}
.main_event_item.event_item > div:nth-child(1) {
    background: rgba(100, 133, 128, 0.40);
}

.main_event_item.event_item > div > div {
    height : 100%;
    width : 100%;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
}
.main_event_item.event_item > div.expand {
    position : absolute;
    width : 100%;
    height : 100%;
    cursor : default;
}
.main_event_item.event_item > div.expand > div:not(first) {
    overflow-y : scroll;
}
.main_event_item.event_item > div.expand > div:not(first) > ul:nth-child(1) > li {
    padding-left : 5px;
    padding-right : 5px;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}
.main_event_item.event_item > div.expand > div:not(first) a {
    color : #fff;
}
.main_event_item.event_item > div.expand > div:not(first) a:hover {
    color : #ccc;
    color : rgba(0, 0, 0, 0.5);
}
.main_event_item.event_item > div.expand > div:not(first) li.active > a {
    color : #000;
}
.main_event_item.event_item > div.expand > div:not(first) li.active > a:hover {
    color : #444;
    color : rgba(0, 0, 0, 0.8);
}
.main_event_item.event_item > div.expand > div:not(first) > h4 {
    color : #000;
    font-weight : 900;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
    padding-left : 70px;
}
.main_event_item.event_item > div.expand > div:not(first) > h4:hover {
    color : rgba(0, 0, 0, 0.9);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    
}
.main_event_item.event_item > div.expand > div.title {
    overflow : hidden;
}

/* span 1.5, 4.5 for events display */
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}
.span1_5 {
  width: 100px;
}
.span4_5 {
  width: 340px;
}
