/*  For events sarousel */
#events .event_item {
    margin-bottom:10px;
    position:relative;
    overflow:hidden;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#events .event_item img {
    width:100%;
    display:block;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
}
#events .event_item.hidden {
    display:none;
}
#events .event_item:before {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content:'';
    z-index:3;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
}

#events .event_item span.overlay {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(70,70,70,0.8);
    z-index:2;
    opacity:0;
    filter:alpha(opacity=0);
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
    transition:opacity .2s;
    -moz-transition:opacity .2s;
    -webkit-transition:opacity .2s;
    -o-transition:opacity .2s;
}

#events .event_item .cnt {
    position:absolute;
    z-index:10;
    left:0;
    right:0;
    top:0;
    text-align:center;
    background: url('../img/share.png') no-repeat center;
    height: 100%;
    width: 100%;
    opacity:0;
    filter:alpha(opacity=0);
    transition:opacity .2s;
    -moz-transition:opacity .2s;
    -webkit-transition:opacity .2s;
    -o-transition:opacity .2s;
}

#events .event_item .cnt strong {
    font-weight:400;
    display:block;
    padding-bottom:27px;
}

#events .event_item .cnt h5 {
    font-size:30px;
    font-weight:700;
    padding-bottom:15px;
}
#events .event_item:hover span.overlay,.event_item:hover .cnt {
    opacity:1;
    filter:alpha(opacity=100);
}

/* Sub items */
#events .event_items_div.sub_events {
}
#events .sub_event_item.event_item {
}


/* Main items */
#events .main_event_item.event_item {
    height : 50%;
    border-radius:5%;
    -moz-border-radius:5%;
    -webkit-border-radius:5%;
    -o-border-radius:5%;}
#events .main_event_item.event_item img {
    width:100%;
    display:block;
    border-radius:5%;
    -moz-border-radius:5%;
    -webkit-border-radius:5%;
    -o-border-radius:5%;
}


/* Carousel Elements */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
.carousel-indicators li.active {
    background-color : #000;
    background-color : rgba(0, 0, 0, 0.75);
}
.carousel-indicators li {
    cursor : pointer;
    background-color : #888;
    background-color : rgba(0, 0, 0, 0.25);
}
.carousel-control.left {
    left : -10%;}

.carousel-control.right {
    right : -10%;}

/* Events main */
