{% load staticfiles %}
<!-- CONTACT SECTION  -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="span12 centered">
                <h2>Contact Us</h2>
                <div class="breaker"> <span class="left"></span> <div class="dice"></div> <span class="right"></span> </div>
            </div>
        </div>
        <div class="row">
            <div class="span12 centered">
                <p class="subtittle">We'd love to hear from you.</p>
            </div>
        </div>
        <div class="row">
            <div class="span7">
                <form name="" method="post" action=""> 
                    <input type="text" name="first_name" placeholder="YOUR NAME"> 
                    <input type="email" name="email" placeholder="YOUR E-MAIL"> 
                    <textarea name="comments" cols="1" rows="5" placeholder="YOUR MESSAGE"></textarea>
                    <button name="send" type="submit" class="button">Take a Leap</button>
                </form>
            </div>
            <div class="span5">
                <div class="info">
                    <p class="contactAddress">IIT Madras, Chennai - 600036
                        <br><a class="fancybox-media fancybox.iframe" href="#">View Map</a></p>
                </div>
                <div class="info">
                    <p class='bold'>name 1</p>
                    <p class="contactPhone">Phone: (+91) 99999 00000</p>
                    <p class="contactEmail">Email: <a href="mailto:spons@shaastra.org" target="_blank">spons@shaastra.org</a></p>
                    <p class="contactFB">Facebook: <a href="https://www.facebook.com/Shaastra" target="_blank">Shaastra</a></p>
                    <p class="contactTwitter">Twitter: <a href="https://twitter.com/ShaastraIITM" target="_blank">ShaastraIITM</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CONTACT SECTION  -->
