{% load staticfiles %}
<!-- CONTACT SECTION  -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="span12 centered">
                <h2>Contact Us</h2>
                <div class="breaker"> <span class="left"></span> <div class="dice"></div> <span class="right"></span> </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="info centered">
                    <p class='bold underline'>Student Incharge</p>
                    <p class=''><span style='width : 40%; text-align : right;'>Tanuj Jhunjhunwala</span>
                        <span style='width : 60%; text-align : left; padding-left : 10%;'><i class="icon-envelope-bootstrap"></i> <a href='mailto:tanuj@shaastra.org'>tanuj@shaastra.org</a></span></p>
                </div>
                <div class="info centered">
                    <p class='bold underline'>Student Relations</p>
                    <p class=''><span style='width : 40%; text-align : right;'>Vimal</span>
                        <span style='width : 60%; text-align : left; padding-left : 10%;'><i class="icon-envelope-bootstrap"></i> <a href='mailto:vimal@shaastra.org'>vimal@shaastra.org</a></span></p>
                    <p class=''><span style='width : 40%; text-align : right;'>Anshul Singh</span>
                        <span style='width : 60%; text-align : left; padding-left : 10%;'><i class="icon-envelope-bootstrap"></i> <a href='mailto:anshul@shaastra.org'>anshul@shaastra.org</a></span></p>
                </div>
                <div class="info centered">
                    <p class='bold underline'>Sponsorship</p>
                    <p class=''><span style='width : 40%; text-align : right;'>Sidharth Ganesh</span>
                        <span style='width : 60%; text-align : left; padding-left : 10%;'><i class="icon-envelope-bootstrap"></i> <a href='mailto:ganesh@shaastra.org'>ganesh@shaastra.org</a></span></p>
                    <p class=''><span style='width : 40%; text-align : right;'>Dhruv Gulati</span>
                        <span style='width : 60%; text-align : left; padding-left : 10%;'><i class="icon-envelope-bootstrap"></i> <a href='mailto:dhruv@shaastra.org'>dhruv@shaastra.org</a></span></p>
                </div>
            </div>

            <div class="span6">
                <div class="info" style='margin-top : 30px;'>
                    <p class="contactAddress">IIT Madras, Chennai - 600036
                        <br><a class="" target="_blank" href="https://www.google.com/maps/preview#!q=iit+madras&data=!4m10!1m9!4m8!1m3!1d3321!2d80.2309012!3d12.9918144!3m2!1i1366!2i656!4f13.1">View Map</a></p>
                </div>
                <div class="info">
                    <p class="contactFB">Facebook: <a href="https://www.facebook.com/Shaastra" target="_blank">Shaastra</a></p>
                    <p class="contactTwitter">Twitter: <a href="https://twitter.com/ShaastraIITM" target="_blank">ShaastraIITM</a></p>
                    <p class="contactYoutube">Youtube: <a href="http://www.youtube.com/user/iitmshaastra" target="_blank">Shaastra IITM</a></p>
                </div>
                <div class='info'>
                    <p class="contactEmail">Webstie Admin: <a href="mailto:webops@shaastra.org" target="_blank">webops@shaastra.org</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CONTACT SECTION  -->
