<center><h3 style='padding: 0px; margin : 0px;'> Dave Lavery </h3></center>
<p>"I wanted to work for <span class='black'>NASA</span> since I was a little boy. Like any kid in the '60s, my heroes were Neil Armstrong, John Glenn and Chuck Yeager."
</p>
<p>Even though poor eyesight ended his hopes of becoming an astronaut,
Dave Lavery didn't give up his dream of space exploration. Today he is the
<span class='black'>Program Executive</span> for Solar System Explorations NASA - handling multiple Mars missions at once. Although you might
recognize him better as the man who led the <span class='black'>Curiosity mission to Mars</span>.
</p>
<p>
Lavery took up a job in NASA right after completing a degree in Computer Science from Virginia Tech.
He was also involved with the <span class='black'>FIRST Robotics Competition</span> as a mentor, while being a
member of the FRC Game Design Committee. His twitter handle, apart from describing him as a NASA geek,
robot advocate and "Mars guy", also declares his interest in mountaineering and cycling.
</p><p>
Join us at Shaastra Lecture Series 2014 to get a chance to listen to the man behind the Mars Exploration Rover and have a one-on-one interaction with him!</p>
