<center><h3> Mallika Dutt </h3></center><br>
<strong>
She is an Indian-American human rights activist, cultural entrepreneur and lawyer by training. She is the founder, president and CEO of Breakthrough, a global human rights organization that uses the power of media, pop culture, and community mobilization to promote human rights values. She has twice been named one of Verve's Top 50 most influential women and has received multiple awards in recognition of her human rights activism. Dutt is also a co-founder of Sakhi for South Asian Women, and sits on the advisory boards of several other human rights, multimedia and philanthropic organizations. One of her most famous campaigns is Bell Bajao!, a domestic violence awareness campaign calling on men and boys to act as partners in ending violence against women.
</strong> 

