<center><h3 style='padding: 0px; margin : 0px;'> Sharmila Bhattacharya </h3></center>

<p>Sharmila Bhattacharya, head of the <span class='black'>Biomodel Performance and Behaviour Laboratory</span> at
<span class='black'>NASA</span> Ames Research Center, is a leading researcher in  immune system changes during spaceflight
and the effects of radiation and altered gravity on living systems. She was the principal investigator
for the space shuttle flight experiment, <span class='black'>Fly Immunity and Tumors</span> (FIT), which flew in 2006. She
holds masters and doctorate degrees in molecular biology from Princeton University and has conducted post-doctoral
research in neurobiology at Stanford University. 
</p><p>
She believes that to work hard on something that truly interests you is the only way to build a
lifelong career that is fulfilling and challenging. In her own life her biggest success has
been seeing her experiments flown in space, a dream of flight fuelled by her father,
a pilot, who told her that being a girl would not stop her from being "absolutely anything" she wanted to be.
</p><p>

At the Shaastra Lectures Series 2014, you can be part of a journey to realise your own dreams and successes while engaging with Sharmila's Bhattacharya's exciting story. </p>
