<center><h3 style='padding: 0px; margin : 0px;'> Shravan and Sanjay </h3></center>
<p>"Jobs is the big daddy of clean and intuitive user interfaces who changed the way we communicate.
How can we forget his famous line, `Stay hungry, Stay foolish'"
</p><p>
Shravan and Sanjay Kumaran, siblings and co-developers, are perhaps <span class='black'>India's youngest entrepreneurs</span>,
at 14 and 12 years of age. They are the president and CEO respectively of Go Dimensions, an app development unit that they
founded two years ago at home in Chennai. Having learnt Qbasic in primary school, and <span class='black'>Java and iOS</span> programming soon
after, they have developed over ten apps together in the last two years. Their apps are available on both the Apple App
store and the Android Play Store, and have received over <span class='black'>35,000 downloads</span>. Finding a great source of inspiration in
Steve Jobs, they like to spend their free time coding and debugging test apps, while "nibbling on cheese fritters and
lasagna". Previously, they have spoken at lecture series organized by <span class='black'>TEDx</span> and IIM-Bangalore.
</p><p>
Breaking the limits of age, Shravan and Sanjay, app developers and programmers, talk about their passions and work at Shaastra 2014 this January, as part of the Lecture Series.</p>
