<center><h3 style='padding: 0px; margin : 0px;'> Manoj Pant </h3></center>
<p>Manoj Pant is an Indian expert in <span class='black'>International Trade</span>.
As a full time professor teaching International Trade Theory at the
Centre for International Trade and Development, JNU, he is known for his 
academic contribution on issues of Trade, Competition and Environment.</p>
<p>
He has been a <span class='black'>lead speaker on WTO</span> issues, shaping international discussions at the UNCTAD,
 OXFAM and other non-governmental organizations. His distinguished writing career includes 2 books,
 over 35 articles in international referred journals and a monthly column in The Economic Times. He has also
 been a an expert member of the consultative group on trade issues of the Planning Commission and a member of the
 technical committee of the Ministry of Human Resource Development for WTO.
</p>
<p>
Join Manoj Pant at Shaastra Lectures 2014 for a panoramic view of the International trade
scene and its multiple perspectives ranging from the environment to market competition. </p>

