<center><h3 style='padding: 0px; margin : 0px;'> Anant Agarwal </h3></center>
<p>The President of <span class='black'>edX</span> (an online learning venture of Harvard and MIT)
is not only an avant-garde educator, but a researcher, illustrious writer
and an innovator who is 'changing the world', according to the Boston Globe Magazine 2012. 
</p>
<p>
His teaching career has spanned from teaching Electrical Engineering and Computer Science
at MIT to pioneering the edX course on circuits and electronics from MIT, all of which won
him <span class='black'>MIT's Smullin and Jamieson prizes</span> for teaching. To add to this list of awards he holds
a Guinness World Record for the largest microphone array. As an innovator he founded the
<span class='black'>Tilera</span> Corporation <!--which created the Tile multi core processor--> and served as the director
of MIT's CSAIL. His work on Organic Computing was selected by Scientific American as one of 10 World Changing Ideas in 2011. In
his spare time, he hacks on <span class='black'>WebSim</span>, a web-based circuits laboratory. 
</p>
<p>
This acclaimed <span class='black'>alumnus of IIT Madras</span> returns to his alma mater for the Shaastra Lecture
Series 2014 to share with us his code for "breaking boundaries". </p>
