<center><h3> Jatinder V Yakhmi </h3></center><br>

<p>Former Associate Director of the Physics Group at the Bhabha Atomic Research Centre, Jatinder Yakhmi has contributed greatly to the field of atomic research in India. With more than a dozen articles published in national and international referred journals is academic career has been noteworthy in molecular and atomic research. 

If questions abound in your mind about the nature of atomic research in India, we bring to you a discussion with a leading researcher from the field. </p>

