<center><h3> Jatinder V Yakhmi </h3></center><br>
<strong>

Dr. Yakhmi has been Associate Director of Physics Group of 

BARC, Adviser to the Chairman of Atomic Energy Commission, 

and Program Director, BARC, for Spectroscopy, Synchrotron and 

Functional Materials. Till 2010, he was also the Chairman of the 

Basic Sciences Committee of the Board of Research in Nuclear 

Sciences of DAE. He serves as Member of Expert Advisory 

Committees of Department of Science and Technology, DAE, 

Indo-US Forum and DRDO of India.

Prof. Yakhmi is currently a DAE-Raja Ramanna Fellow at the 

Homi Bhabha National Institute (a deemed University DAE) and 

Chairman of Atomic Energy Education Society.
at BARC. Initially, he worked at Chemistry Division on the 

broad areas of magnetism and superconductivity, and specialized 

eventually in interdisciplinary areas of soft matter, such as 

Molecular Magnets, Self-assembly, Polymers, Nano-phase 

materials, Surfactants, and Liquid Crystals. During 2001-2010, he 

was Head, Technical Physics & Prototype Engineering Division, 

BARC, where he established a program on the use of molecular 

materials for fabrication of Sensors, Bio-sensors, and Molecular 

Electronic Devices. He has published about 400 papers in refereed 

journals, some of which have been cited heavily.


</strong>

