<center><h3> Amitabh Shah </h3></center><br>
<p>The founder and CEO of YUVA Unstoppable, he transformed the act of volunteering into something fun and attractive, operating across 30 Indian cities and mobilizing more than 1 lakh volunteers to educate underprivileged children. After receiving an MBA in Leadership and Management from the Yale School of Management, New Haven, Connecticut in 2009, Amitabh Shah declined a $250,000 JP Morgan offer to work in the Indian streets and bring change in the lives of the destitute. 

As Founding Chairman of the Youth Wing of the Gujarat Chamber of Commerce and Industries and former Executive President at the Times Foundation, he has gained immense stature as a leader leading to his launching the Super Cool Leadership Program. As a master leadership trainer he conducts programmes across institution for garnering the art of appreciation, the power of listening and self- belief to mold young individuals into motivating leaders. 

An interaction with the charismatic young entrepreneur and leader awaits this January 2014 at the Shaastra Lecture Series. </p>
