<center><h3 style='padding: 0px; margin : 0px;'> Amitabh Shah </h3></center>
<p>The founder and CEO of <span class='black'>YUVA</span> Unstoppable,
he transformed the act of volunteering into something fun and attractive,
operating across 30 cities and mobilizing more than 1Lakh volunteers
to educate underprivileged children. After receiving an MBA in Leadership and
Management from Yale in 2009.
</p>

<p>Amitabh Shah declined a $250,000 JP Morgan offer to work in the Indian streets and bring change in the lives of the destitute. </p>

<p>As Founding Chairman of the Youth Wing of the <span class='black'>Gujarat Chamber of Commerce and Industries</span>
and former Executive President at the <span class='black'>Times Foundation</span>, he has gained
immense stature as a leader leading to his launching the Super Cool Leadership Program.
As a master leadership trainer he conducts programmes across institution for garnering the
art of appreciation, the power of listening and self-belief to mold young individuals into motivating leaders. 
</p>

<p>
An interaction with the charismatic young entrepreneur and leader awaits this January 2014 at the Shaastra Lecture Series. </p>
