<center><h3> Bikash Sinha  </h3></center><br>

<p>An eminent physicist, active in the fields of nuclear physics and high energy physics, Bikash Sinha is the Homi Bhabha Chair Professor of the Variable Energy Cyclotron Centre. Previously the director of the Saha Institute of Nuclear Physics and Variable Energy Cyclotron Centre, he is currently on the scientific advisory board to the Prime Minister of India. He received the Padma Bhushan in 2010 for his scientific achievements. 

Discuss and explore the mysteries of nuclear and high energy physics with Bikash Sinha, only at the Shaastra Lectures Series 2014. </p>
