<center><h3 style='padding: 0px; margin : 0px;'> Bikash Sinha  </h3></center>

<p>An eminent physicist, active in the fields of <span class='black'>nuclear physics and high energy physics</span>,
Bikash Sinha is the <span class='black'>Homi Bhabha Chair Professor</span> of the Variable Energy Cyclotron Centre.
Previously the director of the <span class='black'>Saha</span> Institute of Nuclear Physics and
Variable Energy Cyclotron Centre, he is currently on the scientific advisory board to the
Prime Minister of India. He received the <span class='black'>Padma Bhushan</span> in 2010 for his scientific achievements. 
</p>
<p>
Discuss and explore the mysteries of nuclear and high energy physics with Bikash Sinha, only at the Shaastra Lectures Series 2014. </p>
