<center><h3 style='padding: 0px; margin : 0px;'> Srinivasa Varadhan </h3></center>

<p>Prof. Srinivasa Varadhan is a mathematician well recognized for his fundamental contributions
to <span class='black'>probability theory</span>; in particular, for creating a unified theory of large deviations.
During his ISI days, he was known as one of the "<span class='black'>famous four</span>".
</p>

<p>Having studied in Presidency College in Madras and ISI, he has been faculty at New York University
for many decades. Over a long and illustrious career, he has been appointed fellow of such prestigious
groups as the Royal Society (1998), the Indian Academy of Sciences (2004), and the Society for Industrial
and Applied Mathematics (2009). In 1994, he was awarded the renowned <span class='black'>Birkhoff Prize</span>.
This was followed by several prestigious honours, such as the <span class='black'>Abel Prize</span> in 2007 and the
<span class='black'>National Medal of Science</span> in 2010 from President Barack Obama.
In 2008, he was conferred with the <span class='black'>Padma Bhushan</span>.

In addition, he holds the post of <span class='black'>Jury Chair</span> for the Infosys Prize 2013, for the discipline of Mathematical Sciences.
</p>
<p>
Don't miss an opportunity to interact with this mathematical giant and absorb his thoughts and experiences at Shaastra Lecture Series 2014!</p>
