<center><h3 style='padding: 0px; margin : 0px;'> Richard Stallman </h3></center>
<p>Dr. Richard Stallman launched the free software movement in 1983 and started the development of the
<span class='black'>GNU</span> operating system (see www.gnu.org) in 1984.
</p>

<p>GNU is free software: everyone has the freedom to copy it and redistribute it,
with or without changes. The GNU/Linux system, basically the GNU operating system
with Linux added, is used on tens of millions of computers today.
</p><p>
    
Stallman has received the ACM <span class='black'>Grace Hopper Award</span>, a <span class='black'>MacArthur Foundation</span> fellowship,
the <span class='black'>Electronic Frontier Foundation's Pioneer Award</span>, and the <span class='black'>Takeda Award</span> for Social/Economic
Betterment, as well as several honorary doctorates, and has been inducted into the Internet Hall of Fame.
</p>
<p>
Grab this opportunity to interact with Richard Stallman and listen to him speak about his life and work
with both hands, only at Shaastra Lecture Series 2014!</p>
