{% load staticfiles %}
<div class="lecture_items_div sub_lectures">

    <div class="span1 extra"></div>
    <div class="span4 lecture_item">
        <img src="{% static 'img/lectures/13.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            <div class='span4' style='margin:0px;'><img src="{% static 'img/lectures/13.png' %}" class='' /></div>
            <div class='span8' style='margin:0px; padding-left:20px;'>Page 13</div>
        </div>
    </div>
    <div class="span4 lecture_item">
        <img src="{% static 'img/lectures/14.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            <div class='span4' style='margin:0px;'><img src="{% static 'img/lectures/14.png' %}" class='' /></div>
            <div class='span8' style='margin:0px; padding-left:20px;'>Page 14</div>
        </div>
    </div>
    <div class="span4 lecture_item">
        <img src="{% static 'img/lectures/15.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            <div class='span4' style='margin:0px;'><img src="{% static 'img/lectures/15.png' %}" class='' /></div>
            <div class='span8' style='margin:0px; padding-left:20px;'>Page 15</div>
        </div>
    </div>
    <div class="span1_5"></div>
    <div class="span4 lecture_item">
        <img src="{% static 'img/lectures/16.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            <div class='span4' style='margin:0px;'><img src="{% static 'img/lectures/16.png' %}" class='' /></div>
            <div class='span8' style='margin:0px; padding-left:20px;'>Page 16</div>
        </div>
    </div>
    <div class="span4 lecture_item">
        <img src="{% static 'img/lectures/17.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            <div class='span4' style='margin:0px;'><img src="{% static 'img/lectures/17.png' %}" class='' /></div>
            <div class='span8' style='margin:0px; padding-left:20px;'>Page 17</div>
        </div>
    </div>
</div>
