{% load staticfiles %}
<div class="row lecture_items_div sub_lectures">
    <div class="span3 lecture_item">
        <img src="{% static 'img/lectures/9.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 lecture_item">

        <img src="{% static 'img/lectures/10.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 lecture_item">

        <img src="{% static 'img/lectures/11.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 lecture_item">

        <img src="{% static 'img/lectures/12.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 lecture_item">
        <img src="{% static 'img/lectures/13.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 lecture_item">
        <img src="{% static 'img/lectures/14.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 lecture_item">
        <img src="{% static 'img/lectures/15.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 lecture_item">
        <img src="{% static 'img/lectures/16.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
</div>
