{% load staticfiles %}
<div class="row lecture_items_div sub_lectures">
    <div class="span3 lecture_item">
        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            page 1
        </div>
    </div>
    <div class="span3 lecture_item">

        <img src="{% static 'img/lectures/2.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            page 2
        </div>
    </div>
    <div class="span3 lecture_item">

        <img src="{% static 'img/lectures/3.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            page 3
        </div>
    </div>
    <div class="span3 lecture_item">

        <img src="{% static 'img/lectures/4.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            page 4
        </div>
    </div>
    <div class="span3 lecture_item">

        <img src="{% static 'img/lectures/5.jpg' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            page 5
        </div>
    </div>
    <div class="span3 lecture_item">

        <img src="{% static 'img/lectures/6.jpg' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            page 6
        </div>
    </div>
    <div class="span3 lecture_item">
    
        <img src="{% static 'img/lectures/7.jpg' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 lecture_item">

        <img src="{% static 'img/lectures/8.jpg' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
</div>
