{% load staticfiles %}
<div class="lecture_items_div sub_lectures">

    <div class="span4 lecture_item">
        <img src="{% static 'img/lectures/13.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            <div class='span4' style='margin:0px;'><img src="{% static 'img/lectures/13.png' %}" class='' /></div>
            <div class='span8' style='margin:0px; padding-left:20px;'>{% include 'lectures/content/13.html' %}</div>
        </div>
    </div>
    <div class="span4 lecture_item">
        <img src="{% static 'img/lectures/14.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            <div class='span4' style='margin:0px;'><img src="{% static 'img/lectures/14.png' %}" class='' /></div>
            <div class='span8' style='margin:0px; padding-left:20px;'>{% include 'lectures/content/14.html' %}</div>
        </div>
    </div>
    <div class="span4 lecture_item">
        <img src="{% static 'img/lectures/15.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            <div class='span4' style='margin:0px;'><img src="{% static 'img/lectures/15.png' %}" class='' /></div>
            <div class='span8' style='margin:0px; padding-left:20px;'>{% include 'lectures/content/15.html' %}</div>
        </div>
    </div>
    <div class="span4 lecture_item">
        <img src="{% static 'img/lectures/16.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            <div class='span4' style='margin:0px;'><img src="{% static 'img/lectures/16.png' %}" class='' /></div>
            <div class='span8' style='margin:0px; padding-left:20px;'>{% include 'lectures/content/16.html' %}</div>
        </div>
    </div>
    
</div>
