{% load staticfiles %}
<div class="lecture_items_div sub_lectures">
    <div class="span4 lecture_item">
        <img src="{% static 'img/lectures/1.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            {% include 'lectures/content/1.html' %}
        </div>
    </div>
    <div class="span4 lecture_item">

        <img src="{% static 'img/lectures/2.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            <div class='span4' style='margin:0px;'><img src="{% static 'img/lectures/2.png' %}" class='' /></div>
            <div class='span8' style='margin:0px; padding-left:20px;'>Page 2</div>
        </div>
    </div>
    <div class="span4 lecture_item">

        <img src="{% static 'img/lectures/3.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            <div class='span4' style='margin:0px;'><img src="{% static 'img/lectures/3.png' %}" class='' /></div>
            <div class='span8' style='margin:0px; padding-left:20px;'>Page 3</div>
        </div>
    </div>
    <div class="span4 lecture_item">

        <img src="{% static 'img/lectures/4.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            <div class='span4' style='margin:0px;'><img src="{% static 'img/lectures/4.png' %}" class='' /></div>
            <div class='span8' style='margin:0px; padding-left:20px;'>Page 4</div>
        </div>
    </div>
    <div class="span4 lecture_item">

        <img src="{% static 'img/lectures/5.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            <div class='span4' style='margin:0px;'><img src="{% static 'img/lectures/5.png' %}" class='' /></div>
            <div class='span8' style='margin:0px; padding-left:20px;'>Page 5</div>
        </div>
    </div>
    <div class="span4 lecture_item">

        <img src="{% static 'img/lectures/6.png' %}" alt="" class="lecture_item_img">
        <a style='cursor : pointer;' onclick="show_lecture(this)">
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div class='content hide'>
            <div class='span4' style='margin:0px;'><img src="{% static 'img/lectures/6.png' %}" class='' /></div>
            <div class='span8' style='margin:0px; padding-left:20px;'>Page 6</div>
        </div>
    </div>
</div>
