{% load staticfiles %}

<!DOCTYPE html>
<html class=" js csstransitions">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="iitm, team, robocon, robotics, auto, autonomous, bot, manual, iit, madras, mit, pune, abu, dd, doordarshan, india, chennai, shaastra, iitmadras ">
        <meta name="description" content="The website of Team IITM Robocon, one of the best performing teams in ABU Robocon - nation wide robotics competition">
        <meta name="author" content="Abdeali JK">

        <title>IITM Robocon</title>
        
        
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>                                                                                                       TOFIX
            <script src="{% static 'assets/js/html5shiv.js' %}"></script>
        <![endif]-->
        <!--[if IE 7]>
            <link rel="stylesheet" href="{% static 'css/font-awesome-ie7.css' %}">
        <![endif]-->
        
        <!-- Stylesheet /--> 
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="all" type="text/css" >
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" media="all" type="text/css" >
        <link rel="stylesheet" href="{% static 'css/style.css' %}" media="all" type="text/css" >
        <link rel="stylesheet" href="{% static 'css/style-responsive.css' %}" media="all" type="text/css" >
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}" media="all" type="text/css" >
    </head>
    <body>
        <!-- HEADER HOME  -->
        <section id="home">
            <div class="row centered">
                <h1 class="fade-it"><img alt="YOURLOGO" src="{% static 'img/logo/header.png' %}"></h1>
                <div class="flexslider">
                    <ul class="slides">
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;" class="flex-active-slide">
                            <h2>clean, minimal &amp; responsive</h2>
                            <h2>
                                <i class="icon-desktop"></i>
                                <i class="icon-tablet"></i>
                                <i class="icon-mobile-phone"></i>
                            </h2>
                        </li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class=""><h2>softness of feathers...</h2></li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class=""><h2>... inspired by purity</h2></li>
                    </ul>
                </div>
            </div>

            <!-- LITTLE LOGO SEE WHAT WE DO --> 
            <div id="down_button" class="fade-it"><a href="http://uexel.us/themes/serenity/narrow/#whatwedo"></a></div>
            <div class="social-header hidden-phone">

                <a href="#" class="social-network sn2 behance"></a>
                <a href="#" class="social-network sn2 facebook"></a>
                <a href="#" class="social-network sn2 pinterest"></a>
                <a href="#" class="social-network sn2 flickr"></a>
                <a href="#" class="social-network sn2 dribbble"></a>
                <a href="#" class="social-network sn2 lastfm"></a>
                <a href="#" class="social-network sn2 forrst"></a>
                <a href="#" class="social-network sn2 xing"></a>   


            </div>
            <!-- END LITTLE LOGO SEE WHAT WE DO --> 

        </section>
        <!-- END HEADER HOME  -->

        <!-- NAVIGATION  -->        
        <div class="navbar-wrapper" style="height: auto;">
            <div class="navbar" id="navigation" style="top: 0px;">
                <div class="navbar-inner">
                    <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="">  <img src="{% static 'img/logo/small.png' %}"></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li><a href="http://uexel.us/themes/serenity/narrow/#home" class="">Home</a></li>
                            <li><a href="http://uexel.us/themes/serenity/narrow/#whatwedo" class="selected">portfolio</a></li>
                            <li><a href="http://uexel.us/themes/serenity/narrow/#services" class="">services</a></li>
                            <li><a href="http://uexel.us/themes/serenity/narrow/#about" class="">who we are</a></li>
                            <li><a href="http://uexel.us/themes/serenity/narrow/#contact" class="">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END NAVIGATION  -->

        <!-- WHAT WE DO SECTION  -->
        <section id="whatwedo">
            <div class="container">
                <div class="row">
                    <div class="span12 centered">
                        <h2>Projects</h2>
                        <div class="breaker"><span class="left"></span><div class="feather"></div><span class="right"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12 centered">
                        <p class="subtittle">See all our work on <a href="https://wrapbootstrap.com/user/hunzaboy">wrapbootstrap</a>.</p>
                    </div>
                </div>
                <div class="row">

                    <div class="span3 project">

                        <img src="{% static 'img/pages/1.png' %}" alt="" class="project-img">
                        <a href="http://uexel.us/themes/serenity/narrow/img/thumbs/1big.png' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>



                    </div>
                    <div class="span3 project">

                        <img src="{% static 'img/pages/2.png' %}" alt="" class="project-img">
                        <a href="http://uexel.us/themes/serenity/narrow/img/thumbs/2big.png' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>



                    </div>
                    <div class="span3 project">

                        <img src="{% static 'img/pages/3.png' %}" alt="" class="project-img">
                        <a href="http://uexel.us/themes/serenity/narrow/img/thumbs/3big.png' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>



                    </div>
                    <div class="span3 project">

                        <img src="{% static 'img/pages/4.png' %}" alt="" class="project-img">
                        <a href="http://uexel.us/themes/serenity/narrow/img/thumbs/4big.png' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>



                    </div>
                    <div class="span3 project">

                        <img src="{% static 'img/pages/5.jpg' %}" alt="" class="project-img">
                        <a href="{% static 'img/5.jpg' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>

                    </div>
                    <div class="span3 project">

                        <img src="{% static 'img/pages/6.jpg' %}" alt="" class="project-img">
                        <a href="{% static 'img/6.jpg' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>

                    </div>
                    <div class="span3 project">

                        <img src="{% static 'img/pages/7.jpg' %}" alt="" class="project-img">
                        <a href="{% static 'img/7.jpg' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>

                    </div>
                    <div class="span3 project">

                        <img src="{% static 'img/pages/8.jpg' %}" alt="" class="project-img">
                        <a href="{% static 'img/8.jpg' %}" class="fancybox-media" data-title-id="title-01" rel="portfolio">
                            <span class="overlay"></span>
                            <div class="cnt"></div>
                        </a>
                        <div id="title-01" class="info hidden">
                            <h2>Project Details</h2>
                            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- END WHAT WE DO SECTION  -->

        <!-- SERVICES SECTION  -->
        <section id="services">

            <div class="container">
                <div class="row">
                    <div class="span12 centered">
                        <h2>What we do</h2>
                        <div class="breaker"><span class="left"></span><div class="feather"></div><span class="right"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12 centered">
                        <p class="subtittle">our areas of expertise<br>the best we can offer </p>
                    </div>
                </div>

                <div class="row">
                    <div class="span3">
                        <div class="box">
                            <div class="box_icon">
                                <i class="icon-code icon-3x"></i>
                            </div>
                            <h6><strong>Programming</strong></h6>
                            <p>
                                No pri aliquip alienum. Em dolor es dumunere sum aet, usu at incorrupte.
                            </p>

                        </div>
                    </div>
                    <div class="span3">
                        <div class="box">
                            <div class="box_icon">
                                <i class="icon-pencil icon-3x"></i>
                            </div>
                            <h6><strong>Design</strong></h6>
                            <p>
                                No pri aliquip alienum. Em dolor es dumunere sum aet, usu at incorrupte.
                            </p>

                        </div>
                    </div>
                    <div class="span3">
                        <div class="box">
                            <div class="box_icon">
                                <i class="icon-keyboard icon-3x"></i>
                            </div>
                            <h6><strong>Development</strong></h6>
                            <p>
                                No pri aliquip alienum. Em dolor es dumunere sum aet, usu at incorrupte.
                            </p>

                        </div>
                    </div>
                    <div class="span3">
                        <div class="box">
                            <div class="box_icon">
                                <i class="icon-camera icon-3x"></i>
                            </div>
                            <h6><strong>Research</strong></h6>
                            <p>
                                No pri aliquip alienum. Em dolor es dumunere sum aet, usu at incorrupte.
                            </p>

                        </div>
                    </div>

                </div>




            </div>


        </section>        
        <!-- END SERVICES  -->
        
        <!-- WHO ARE US SECTION  -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="span12 centered">
                        <h2>Our Bots</h2>
                        <div class="breaker"><span class="left"></span><div class="feather"></div><span class="right"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12 centered">
                        <p class="subtittle">WE BRING A PERSONAL AND EFFECTIVE APPROACH<br> TO EVERY PROJECT WE WORK ON</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <div class="team">
                            <img alt="altname" src="{% static 'img/profile/male1.jpg' %}">
                            <span class="name">Aslam Shah</span><br>
                            <span class="position">Founder</span><br>
                            <span class="social">
                                <a href="#" class="social-network facebook"></a>
                                <a href="#" class="social-network skype"></a>
                                <a href="#" class="social-network twitter"></a>

                            </span> 
                        </div>
                    </div>
                    <div class="span3">
                        <div class="team">
                            <img alt="altname" src="{% static 'img/profile/female1.jpg' %}">
                            <span class="name">Sammy</span><br>
                            <span class="position">Designer</span><br>
                            <span class="social">
                                <a href="#" class="social-network facebook"></a>
                                <a href="#" class="social-network skype"></a>
                                <a href="#" class="social-network twitter"></a>

                            </span> 
                        </div>
                    </div>
                    <div class="span3">
                        <div class="team">
                            <img alt="altname" src="{% static 'img/profile/male2.jpg' %}">
                            <span class="name">John</span><br>
                            <span class="position">Developer</span><br>
                            <span class="social">
                                <a href="#" class="social-network facebook"></a>
                                <a href="#" class="social-network skype"></a>
                                <a href="#" class="social-network twitter"></a>

                            </span> 
                        </div>
                    </div>
                    <div class="span3">
                        <div class="team">
                            <img alt="altname" src="{% static 'img/profile/female1.jpg' %}">
                            <span class="name">Jenny</span><br>
                            <span class="position">Creative Director</span><br>
                            <span class="social">
                                <a href="#" class="social-network facebook"></a>
                                <a href="#" class="social-network skype"></a>
                                <a href="#" class="social-network twitter"></a>

                            </span> 
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- END WHO ARE US SECTION  -->

        <!-- CONTACT SECTION  -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="span12 centered">
                        <h2>Contact Us</h2>
                        <div class="breaker">
                            <span class="left"></span>
                            <div class="feather"></div>
                            <span class="right"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12 centered">
                        <p class="subtittle">We can help you <strong>promote</strong> your business.<br> Think we might help? We'd love to hear from you.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span7">
                        <form name="" method="post" action=""> 
                            <input type="text" name="first_name" placeholder="YOUR NAME"> 
                            <input type="email" name="email" placeholder="YOUR E-MAIL"> 
                            <textarea name="comments" cols="1" rows="5" placeholder="YOUR MESSAGE"></textarea>
                            <button name="send" type="submit" class="button">Take a Leap</button>
                        </form>
                    </div>
                    <div class="span5">
                        <div class="info">
                            <p class="contactAddress">22 New Holidays Building<br>California CA 3300<br>United States
                                <br><a class="fancybox-media fancybox.iframe" href="https://maps.google.com/maps/ms?ie=UTF8&oe=UTF8&msa=0&msid=218337429610107903639.00047c7b97971cc480289&dg=feature&t=h&ll=48.857423,2.286819&spn=0.002471,0.00456&z=17&iwloc=00047c7b9b089f45e6058&output=embed">View Map</a></p>
                        </div>
                        <div class="info">
                            <p class="contactPhone">Phone: (00) 1234 5678</p>
                            <p class="contactEmail">Email: <a href="#">info@serenity.com</a></p>
                            <p class="contactSkype">Skype: <a href="#">skypeSerenity</a></p>
                        </div>
                        <div class="info">
                            <p class="contactTime">
                                Mon-Fri: 9:00am → 5:30pm <br>
                                Sat: 10:00am → 2:30pm <br>
                                Sunday: Closed
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END CONTACT SECTION  -->

        <!-- FOOTER  -->
        <footer>

            <!-- SOCIAL MODULE  --> 
            <section id="social_module">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <ul>
                                <li><a href="#" target="_blank"><i class="icon icon-facebook"></i></a></li>
                                <li><a href="#" target="_blank"><i class="icon icon-linkedin"></i></a></li>
                                <li><a href="#" target="_blank"><i class="icon icon-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="icon icon-pinterest"></i></a></li>
                                <li><a href="#" target="_blank"><i class="icon icon-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END SOCIAL MODULE  -->

            <!-- COPYRIGHT  -->
            <div class="container">
                <div class="row">
                    <div class="span6 center">
                        <img alt="YOURLOGO" src="{% static 'img/logo/footer.png' %}">


                    </div>
                    <div class="span6">
                        <p class="copyright text-right center">
                            <a href="#">Home</a> | <a href="#">About</a> | <a href="#">Privacy Policy</a>
                        </p>
                        <p class="copyright text-right center">© 2013 Serenity </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END FOOTER  --> 

        <!-- JAVASCRIPTS  --> 
        <script src="{% static 'js/jquery-1.10.2.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.scrollto.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/waypoints.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.fancybox.pack.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.fancybox-media.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.flexslider.js' %}" type="text/javascript"></script>
        
        <!-- END JAVASCRIPTS  --> 
    
</body></html>

