{% load staticfiles %}
<!-- HOSPI SECTION  -->
<section id="hospi" class='sec'>
    <div class="container">
        <div class="row">
            <div class="span12 centered">
                <h2>Hospitality</h2>
                <div class="breaker"><span class="left"></span><div class="dice white"></div><span class="right"></span></div>
            </div>
        </div>
        <div class="row">
            <div class='span12'>
                <div class='row' style='height : 25%;'></div>
                <div class='row'>
                    <div class='span12 superheader'>
                        <h1>C O M I N G &nbsp; S O O N</h1>
                    </div>
                </div>
                <div class='row' style='height : 15%;'></div>
                

            </div>
        </div>
    </div>
</section>
<!-- END HOSPI SECTION  -->
