{% load staticfiles %}


<button type="button" class="close pull-left" onclick="javascript:hide_event(this);"><img src="{% static 'img/back-arrow.png' %}"/></button>
<h4>Page 1</h4>
<ul class="span2 nav-stacked pull-left">
    <li><a href='javascript:show_event_page(this)' onclick='show_event_page(this)'>Home</a></li>
    <li><a href='javascript:show_event_page(this)' onclick='show_event_page(this)'>Page1</a></li>
    <li><a href='javascript:show_event_page(this)' onclick='show_event_page(this)'>Page2</a></li>
    <li><a href='javascript:show_event_page(this)' onclick='show_event_page(this)'>Page3</a></li>
</ul>
<div class="span9 pull-right" style="display:none;">
    jshrgfrbfgkrw
</div>
<div class="span9 pull-right" style="display:none;">
    hgeyifgbiwyefwe
</div>
<div class="span9 pull-right" style="display:none;">
    kijgiyrhryh
</div>
<div class="span9 pull-right" style="display:none;">
    skufhrkiugfn
</div>
