{% load staticfiles %}
<div class='pull-left' style='cursor : pointer;' onclick="javascript:hide_event();" ><img src="{% static 'img/back-arrow.png' %}"/></div>
<center>
    <h4>
        {{event.title}}
    </h4>
</center>
{% if event.registrable_online %}
<a onclick='Dajaxice.dashboard.register_event_form(Dajax.process,{'event_id':{{event.id}}});' class='btn btn-inverse' style='z-index : 100; position : absolute; top : 90%; left : 50%'>Register !</a>
{% endif %}
<div id="sidr" class="sidr span3">
    <ul>
        {% for tab in tab_list %}
            <li {% if forloop.first %} class="active" {% endif %} onclick='show_event_page(this)'> {{tab.title|title}} </li>
        {% endfor %}
        {% comment %}
        <li><a onclick ="Dajaxice.dashboard.register_event_form(Dajax.process, {'event_id':{{event.id}}});">Register!!</a></li>
        {% endcomment %}
    </ul>
</div>
{% comment %}
    <!--{% ifequal event_type 'Participant' %}
        <div class="span9 pull-right" style="">
            Category: {{event.category}} <br>
            Min. Team size: {{event.team_size_min}}
        </div>
    {% else %}
        {% ifequal event_type 'Audience' %}
        <div class="span9 pull-right" style="">
            Category: {{event.category}}
        </div>
        {% else %}
        <div class="span9 pull-right" style="">
            Category: {{event.category}}
        </div>
        {% endifequal %}
    {% endifequal %}-->
{% endcomment %}
{% for tab in tab_list %}
    {% if forloop.first %}
        <div class="span8 page_content">
    {% else %}
        <div class="span8 page_content" style="display:none;">
    {% endif %}
        {{tab.text|removetags:"span font div"|safe}}
    </div>
{% endfor %}
