{% load staticfiles %}
<div class='pull-left' style='cursor : pointer;' onclick="javascript:hide_event();window.location.hash='{{event.category}}';" ><img src="{% static 'img/back-arrow.png' %}"/></div>
<center>
    <h4>
        {{event.title}}
    </h4>
</center>

{% if event.registrable_online %}
{% ifequal event.category 'Workshops' %}
{% else %}

    <a onclick="Dajaxice.dashboard.register_event_form(Dajax.process,{'event_id':{{event_pk}}});"
        class='btn btn-danger' style='z-index : 100; position : absolute; top : 90%; left : 40%'>
        <b>&nbsp;&nbsp;&nbsp;&nbsp;Register for this event!&nbsp;&nbsp;&nbsp;&nbsp;</b>
<!--        <b><img src='{{SITE_URL}}static/img/loading.gif' style="height:25px;width:25px;" class="loading" id="gif_eventregister" title="loading..." /></b>-->
    </a>
    {% comment %}
<!--{% if time_now > event.registration_starts and time_now < event.registration_ends %}-->
    <!-- <a onclick="Dajaxice.dashboard.register_event_form(Dajax.process,{'event_id':{{event_pk}}});" class='btn btn-inverse' style='z-index : 100; position : absolute; top : 90%; left : 50%'>Register !</a> -->
<!--{% else %}-->
    <!--part to say wait etc...-->
<!--{% endif %}-->
    {% endcomment %}
{% endifequal %}
{% endif %}

<div id="sidr" class="sidr span3">
    <ul>
        {% for tab in tab_list %}
            <li {% if forloop.first %} class="active" {% endif %} onclick='show_event_page(this)'> {{tab.title|title}} </li>
        {% endfor %}
        {% comment %}
<!--        <li><a onclick ="Dajaxice.dashboard.register_event_form(Dajax.process, {'event_id':4});">Register!!</a></li>-->
        {% endcomment %}
    </ul>
</div>
{% comment %}
    <!--{% ifequal event_type 'Participant' %}
        <div class="span9 pull-right" style="">
            Category: {{event.category}} <br>
            Min. Team size: {{event.team_size_min}}
        </div>
    {% else %}
        {% ifequal event_type 'Audience' %}
        <div class="span9 pull-right" style="">
            Category: {{event.category}}
        </div>
        {% else %}
        <div class="span9 pull-right" style="">
            Category: {{event.category}}
        </div>
        {% endifequal %}
    {% endifequal %}-->
{% endcomment %}
{% for tab in tab_list %}
    {% if forloop.first %}
        <div class="span8 page_content">

            <!-- displaying updates -->
            {% if updates_list %}
                <div style="width:30%; position:absolute; left:80%;" class="sidr">
                    <ul>
                    {% for update in updates_list %}
                        {% ifequal update.category 'Major Update' %}
                            <li id="li_major_update">
                                <p class="text-warning"> <strong>{{update.subject}}</strong>: {{update.description}} </p>
                            </li>
                        {% else %}
                            <li>
                                <p> <strong>{{update.subject}}</strong>: {{update.description}} </p>
                            </li>
                        {% endifequal %}
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <!-- updates -->

    {% else %}
        <div class="span8 page_content" style="display:none;">
    {% endif %}
        {{tab.text|removetags:"span font div"|safe}}
    </div>
{% endfor %}

