{% load staticfiles %}
<div class="row event_items_div sub_events">
    <div class='event_item span1 event_back' onclick='hide_event_group();'>
        <img src='{% static "img/back-arrow.png" %}' />
    </div>
    <div class="span3 event_item">
        <img src="{% static 'img/events/aerofest.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_aerofest" class="tooltip tooltip-bottom" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Aerofest'>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/coding.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_coding" class="tooltip tooltip-bottom" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Coding'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/design.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_design_and_build" class="tooltip tooltip-bottom" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Design and Build'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/involve.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_involve" class="tooltip tooltip-bottom" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Involve'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <!--<div class='span1_5 buffer'></div>-->
    <div class="span3 event_item">

        <img src="{% static 'img/events/quiz.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_quizzes" class="tooltip tooltip-bottom" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Quizzes'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/online.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_online" class="tooltip tooltip-bottom" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Online'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">
    
        <img src="{% static 'img/events/dept.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_department_flagship_event" class="tooltip tooltip-bottom" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Department Flagship'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <!--<div class='span1_5 buffer'></div>-->
    <div class="span3 event_item">

        <img src="{% static 'img/events/spotlight.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_spotlight" class="tooltip tooltip-bottom" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Spotlight'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">
        <img src="{% static 'img/events/workshop.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_workshops" class="tooltip tooltip-bottom" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Workshops'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div><div class="span3 event_item">

        <img src="{% static 'img/events/shows.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_exhibitions" class="tooltip tooltip-bottom" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Exhibitions'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/bevent.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_b-_events" class="tooltip tooltip-bottom" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='B- Events'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/misc.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_associated_events" class="tooltip tooltip-bottom" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Associated Events'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
</div>
