{% load staticfiles %}
<div class="row event_items_div sub_events">
    <div class='event_item span1 event_back' onclick='hide_event_group();'>
        <img src='{% static "img/back-arrow.png" %}' />
    </div>
    <div class="span3 event_item">
        <img src="{% static 'img/events/1.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_aerofest" class="" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Aerofest'>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/2.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_coding" class="" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Coding'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/3.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_design_and_build" class="" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Design and Build'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/4.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_involve" class="" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Involve'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class='span1_5 buffer'></div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/5.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_quizzes" class="" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Quizzes'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/6.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_online" class="" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Online'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">
    
        <img src="{% static 'img/events/7.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_department_flagship" class="" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Department Flagship'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class='span1_5 buffer'></div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/8.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_spotlight" class="" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Spotlight'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">
        <img src="{% static 'img/events/9.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_workshops" class="" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Workshops'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div><div class="span3 event_item">

        <img src="{% static 'img/events/10.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_exhibitions" class="" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Exhibitions'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/11.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);"
            id="a_category_miscellaneous" class="" data-title-id="title-01" rel="portfolio"
            data-toggle='tooltip' title='Miscellaneous'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
</div>
