{% load staticfiles %}

<!-- <div class='span12'> -->
    <button type="button" class="close pull-left" onclick="javascript:hide_event(this);"><img src="{% static 'img/back-arrow.png' %}"/></button>
    <h4>{{event.title}} </h4>
    <div id="sidr" class="sidr span3">
        <ul>
            <li class='active'><a href='javascript:show_event_page(this)' onclick='show_event_page(this)'>List 1</a></li>
            <li><a href='javascript:show_event_page(this)' onclick='show_event_page(this)'>List 2</a></li>
            <li><a href='javascript:show_event_page(this)' onclick='show_event_page(this)'>List 3</a></li>
            <li><a href='javascript:show_event_page(this)' onclick='show_event_page(this)'>List 3</a></li>
        </ul>
    </div>
    <div class="span9 pull-right" style="display:none;">
        jshrgfrbfgkrw
    </div>
    <div class="span9 pull-right" style="display:none;">
        hgeyifgbiwyefwe
    </div>
    <div class="span9 pull-right" style="display:none;">
        kijgiyrhryh
    </div>
    <div class="span9 pull-right" style="display:none;">
        skufhrkiugfn
    </div>
<!-- </div> -->