{% load staticfiles %}
<div class="row event_items_div sub_events">
    <div class="span3 event_item">
        <img src="{% static 'img/events/1.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_aerofest" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/2.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_coding" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/3.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_design_and_build" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/4.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_involve" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/5.jpg' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_quizzes" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/6.jpg' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_online" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">
    
        <img src="{% static 'img/events/7.jpg' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_department_flagship" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/8.jpg' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_spotlight" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
</div>