{% load staticfiles %}
<div class="row event_items_div sub_events">
    <div class="span3 event_item">
        <img src="{% static 'img/events/1.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_workshops" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/2.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_exhibitions" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/3.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_miscellaneous" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/4.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_sampark" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <!-- The following div is put to maintain the height of the event page in the carousel -->
    <div class="span3 event_item">
        <img src="{% static 'img/events/4.png' %}" alt="" class="event_item_img" style="opacity:0;">
    </div>
</div>