{% load staticfiles %}
<div class="row event_items_div sub_events">
    <div class="span4 event_item">
    
        <img src="{% static 'img/events/7.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_department_flagship" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span4 event_item">

        <img src="{% static 'img/events/8.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_spotlight" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span4 event_item">
        <img src="{% static 'img/events/9.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_workshops" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class='span2 buffer_event'></div>
    <div class="span4 event_item">

        <img src="{% static 'img/events/10.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_exhibitions" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
    <div class="span4 event_item">

        <img src="{% static 'img/events/11.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event_group(this);" onclick="javascript:show_event_group(this);" id="a_category_miscellaneous" class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
    </div>
</div>
