{% load staticfiles %}
<div class="row event_items_div sub_events">
    <div class="span3 event_item">
        <img src="{% static 'img/events/1.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event(this);" onclick='show_event(this)'  class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div id="title-01" class="info">
            <div id="bl-main" class="bl-main">
                <section>
                    <div class="bl-box">
                        <h2 >1</h2>
                    </div>
                    <div class="bl-content">
                        <h2>About this layout</h2>
                        <p>wright design is about</p> 
                    </div>
                    <span class="bl-icon bl-icon-close"></span>
                </section>
                <section id="bl-work-section">
                    <div class="bl-box">
                        <h2>2</h2>
                    </div>
                    <div class="bl-content">
                        <h2>2</h2>
                        
                        <p>blah blah....</p>
                    </div>
                    <span class="bl-icon bl-icon-close"></span>
                </section>
                <section>
                    <div class="bl-box">
                        <h2>3</h2>
                    </div>
                    <div class="bl-content">
                        <h2>Aero-botics  </h2>
                        
                    </div>
                    <span class="bl-icon bl-icon-close"></span>
                </section>
                <section>
                    <div class="bl-box">
                        <h2>4</h2>
                    </div>
                    <div class="bl-content">
                        <h2>top-gun</h2>
                        </div>
                    <span class="bl-icon bl-icon-close"></span>
                </section>
                <section>
                    <div class="bl-box">
                        <h2>5</h2>
                    </div>
                    <div class="bl-content">
                        <h2>top-gun</h2>
                        </div>
                    <span class="bl-icon bl-icon-close"></span>
                </section>
                <section>
                    <div class="bl-box">
                        <h2>6</h2>
                    </div>
                    <div class="bl-content">
                        <h2>top-gun</h2>
                        </div>
                    <span class="bl-icon bl-icon-close"></span>
                </section>
                <section>       
                    <div class="bl-box">
                        <h2>7</h2>
                    </div>
                    <div class="bl-content">
                        <h2>top-gun</h2>
                        </div>
                    <span class="bl-icon bl-icon-close"></span>
                </section>
                <section>
                    <div class="bl-box">
                        <h2>8</h2>
                    </div>
                    <div class="bl-content">
                        <h2>top-gun</h2>
                        </div>
                    <span class="bl-icon bl-icon-close"></span>
                </section>

            </div>
        </div>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/2.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event(this);" onclick='show_event(this)'  class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div id="title-01" class="info remove">
            <h2>Project Details</h2>
            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
        </div>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/3.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event(this);" onclick='show_event(this)'  class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div id="title-01" class="info remove">
            <h2>Project Details</h2>
            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
        </div>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/4.png' %}" alt="" class="event_item_img">
        <a href="javascript:show_event(this);" onclick='show_event(this)'  class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div id="title-01" class="info remove">
            <h2>Project Details</h2>
            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
        </div>
    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/5.jpg' %}" alt="" class="event_item_img">
        <a href="javascript:show_event(this);" onclick='show_event(this)'  class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div id="title-01" class="info remove">
            <h2>Project Details</h2>
            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
        </div>

    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/6.jpg' %}" alt="" class="event_item_img">
        <a href="javascript:show_event(this);" onclick='show_event(this)'  class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div id="title-01" class="info remove">
            <h2>Project Details</h2>
            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
        </div>

    </div>
    <div class="span3 event_item">
    
        <img src="{% static 'img/events/7.jpg' %}" alt="" class="event_item_img">
        <a href="javascript:show_event(this);" onclick='show_event(this)'  class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div id="title-01" class="info remove">
            <h2>Project Details</h2>
            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
        </div>

    </div>
    <div class="span3 event_item">

        <img src="{% static 'img/events/8.jpg' %}" alt="" class="event_item_img">
        <a href="javascript:show_event(this);" onclick='show_event(this)'  class="" data-title-id="title-01" rel="portfolio" data-toggle='tooltip' title='Project Details for first type of event'>
            <span class="overlay"></span>
            <div class="cnt"></div>
        </a>
        <div id="title-01" class="info remove">
            <h2>Project Details</h2>
            <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
        </div>

    </div>
</div>
