{% load staticfiles %}
    <!-- SPONS SECTION  -->
        <section id="spons" class='sec'>
            <div class="container">
                <div class="row">
                    <div class="span12 centered">
                        <h2>Sponsors</h2>
                        <div class="breaker"><span class="left"></span><div class="dice"></div><span class="right"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class='span12'>
                        <ul class="nav nav-pills span3" id="spons_tabs">
                            <li class="active"><a href="#tab_current">Current Sponsors - 2014</a></li>
                            <li><a href="#tab_2013">Previous Sponsors - 2013</a></li>
                            <li><a href="#tab_2011">Previous Sponsors - 2011</a></li>
                        </ul>
                         
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_current">
                                <center>
                                    <div class='row'>
                                        <div class='span9' id='spons_2014_content'>
                                            
                                        </div>
                                    </div>
                                </center>
                            </div>
                            <div class="tab-pane" id="tab_2013">
                                <center>
                                    <div class='row'>
                                        <div class='span9' id='spons_2013_content'>
                                            
                                        </div>
                                    </div>
                                </center>
                            </div>
                            <div class="tab-pane" id="tab_2011">
                                <center>
                                    <div class='row'>
                                        <div class='span9' id='spons_2011_content'>
                                            
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END SPONS SECTION  -->
