{% load staticfiles %}
    <!-- SPONS SECTION  -->
        <section id="spons" class='sec'>
            <div class="container">
                <div class="row">
                    <div class="span12 centered">
                        <h2>Sponsors</h2>
                        <div class="breaker"><span class="left"></span><div class="dice"></div><span class="right"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class='span12'>
                        <center>
                            <div class='row'><div class='span12'><img src="{% static 'img/logo/spons/sparklab_logo.png' %}" /></div></div>
                            <div class='row' style='height : 5%;'></div>
                            <div class='row'><div class='span12 bold'><h3>Previous Year's Sponsors</h3></div></div>
                            <div class='row' style='height : 5%;'></div>
                            <div class='row'>
                                <div class='span4'>
                                    <img src="{% static 'img/logo/spons/ge_logo.jpg' %}" />
                                </div>
                            <div class='row'>
                                <div class='span4'>
                                    <img src="{% static 'img/logo/spons/hindu_logo.jpg' %}" />
                                </div>
                            <div class='row'>
                                <div class='span4'>
                                    <img src="{% static 'img/logo/spons/robosapiens_logo.gif' %}" />
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SPONS SECTION  -->
