{% load staticfiles %}
<h3 style='width : 100%;'>
	<span id='#event_regd_title' style='position:absolute; left : 25%; display : inline-block;'>Registration for {{event.title}}</span>
	&nbsp;
</h3>
<div id="event_registration">
	<center>
		<table>
			<form action="" method="POST" id="form_change_password"> {% csrf_token %}
                {{form_change_password.as_table}}                
				<br/>
				Are you want to change your password?
				<input type="radio" name="yes" value="yes" id="sure"/>Yes<br/>
				<br/>
				<a id="change_password_submit" class="btn btn-primary" onclick="
				Dajaxice.users.change_password(Dajax.process, {'form':$('#form_change_password').serialize(true)});
				" class="btn btn-primary">Change my password</a>
		</form>
	</table>
</center>
</div>
{% comment %}
{% for i in teammates %}'teammate#{{i}}':$('#shid_{{i}}').val(),{%endfor %}}
{% endcomment %}
