{% load staticfiles %}
<center>
<h3 style='width : 100%;'>
	<span id='#event_regd_title'>Password Change Form</span>
	&nbsp;
</h3>
<div id="event_registration">
	
		
			<form action="" method="POST" id="form_change_password" class="form-horizontal" > {% csrf_token %}
			<fieldset>
			<table>
                {{form_change_password.as_table}}                
			</table>
			</fieldset>
			<div class="form-actions pull-right">
			
			Are you want to change your password?
				<input type="radio" name="yes" value="yes" id="sure"/>Yes
				<br/><br/>
				<a id="change_password_submit" class="btn btn-primary pull-left" onclick="
				if($('#form_change_password #sure')[0].checked)
				{
				    Dajaxice.users.change_password(Dajax.process, {'form':$('#form_change_password').serialize(true)});
			    }
			    else
			    {
			        $.bootstrapGrowl('Are you sure you want to change your password?')
			    }
				" class="btn btn-primary">Change my password</a>
			
			</div>
		</form>
</center>
</div>
{% comment %}
{% for i in teammates %}'teammate#{{i}}':$('#shid_{{i}}').val(),{%endfor %}}
{% endcomment %}
