{% load staticfiles %}
<h3 style='width : 100%;'>
	<span id='#event_regd_title' style='position:absolute; left : 25%; display : inline-block;'>Registration for {{event.title}}</span><br/>
	
</h3>
<div id="event_registration">
	<center>
		<table>		
			<form action="" class="form-horizontal" method="POST" id="form_team"> {% csrf_token %}
			<fieldset>
			<legend><span>Maximum member you can add to your team:{{team_max|add:1}}</span>
	&nbsp;</legend>
			<br/>
			
			<tr>
			    <label class="control-label" for="profile_sh_id_regd">Your ID</label> 
			    <input type="text" value="{{request.user.get_profile.shaastra_id}}" id="profile_sh_id_regd" style="width:280;font-weight:bold;text-align:center" readonly/><br/>
			    <span>Enter only your teammates' shaastra ID's.</span>
			    <label class="control-label" for="team_name_addteam">Enter team name:</label> 
                <input type="text" id="team_name_addteam" placeholder=" Enter team name" style="width:280;"/>
				<div class="control-group">
					{% for j in teammates_min %}
                    <div class="controls">
					<input type="text" id="shid_{{forloop.counter}}" style="width:280;" placeholder = "Enter Shaastra ID of your teammate {{forloop.counter}}"/><br/>
					{% endfor %}
					<tr><a onclick="$('#shid_{{minteam|add:1}}').show();$(this).css({'display':'none'});$('#btn_{{minteam|add:1}}').css({'display':''});" class="btn btn-primary" >Add next member!</a></tr>

				{% for i in teammates %}
				<input type="text" id="shid_{{forloop.counter|add:minteam}}" style="width:280;{%ifequal forloop.counter 5000%}{% else %}display:none;{% endifequal %}" placeholder = "Enter Shaastra ID of your teammate {{i|add:1}}"/><br/></tr>
				{% ifequal i team_max %}
				<br/><span id="btn_{{forloop.counter|add:minteam}}" style="color:#f00;display:none;"> You have reached maximum team size!!</span>
				{% else %}
				<tr><a id="btn_{{forloop.counter|add:minteam}}" onclick="$('#shid_{{forloop.counter|add:minteam|add:1}}').show();$(this).css({'display':'none'});$('#btn_{{forloop.counter|add:minteam|add:1}}').css({'display':''});" class="btn btn-primary" style="display:none;">Add next member!</a></tr>
				{% endifequal %}

				{% endfor %}

				<br/>
				Are you sure you want to register for {{event.title}}?<br/>
				<input type="checkbox" id="sure_event_regd">Yes
				

				<br/>
				</fieldset>
			    <div class="form-actions">

				<input id="event_registration_submit" type="button" onclick="if ($('#sure_event_regd')[0].checked){
				Dajaxice.dashboard.register_event(Dajax.process, {'event_id':{{event.id}},'team_name':$('#team_name_addteam').val(),{% if inputhtml %}{{inputhtml}}{% endif %}});
				}
				else{
				$.bootstrapGrowl('Are you sure?');
				}" value="Register for {{event.title}}!!" class="btn btn-primary" style="display:none"/>
				<a class="btn btn-primary" onclick="$(this).css({'display':'none'});$('#event_registration_submit').show();">Completed adding your teammates?</a>
			</div>
		</form>
	</table>
</center>
</div>
{% comment %}
{% for i in teammates %}'teammate#{{i}}':$('#shid_{{i}}').val(),{%endfor %}}
{% endcomment %}
