<h3 style='width : 100%;'>
<center>
	<span id='#show_regd_events_title' style='position:absolute; left : 25%; display : inline-block;'>Message</span>
	&nbsp;
</center>
</h3>
<hr/>
<div class="well">

<span>You need to login to register for an event.<br/> 
                If you do not have an account, fill in the sign up form to create an account and get a Shaastra ID<br/>
                Please take note, obtaining a Shaastra ID does <b>not</b> register you for any event. You are required to fill in the registration form in the individual event's page for this.<br/>
                After logging in, you can register for the event by clicking this same button.</span>
                
</div>
