<h3 style='width : 100%;'>
	<span id='show_events_regd_title'>{% if title_tdp %}{{title_tdp}}{% else %}Your registered events{% endif %}</span>
	&nbsp;
</h3>
<h5>If you have not registered for the event yet, Please register for the event <a href="#events">here</a></h5>

{% ifequal no_updates 0 %}
    <p class="text-muted"><span>No Updates! Register <a href="#events"><u>here</u></a> to begin!</span></p>
{% endifequal %}
<div class="accordion" id="accordion2" style="height:70%">
{% for update in updates_list %}
<tr>
  <div class="accordion-group">
    <div class="accordion-heading">

  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{forloop.counter}}">
      {{update.tag}}  (click for more details)
    <div id="collapse{{forloop.counter}}" class="accordion-body collapse">
      <div class="accordion-inner">
        <span><b>{{update.content}}</b></span>
      </div>
      
    </div>
  </div>
  </tr>
{% endfor %}
</div>
</div>
