{% load staticfiles %}

<!-- DASHBOARD SECTION  -->
<section id="dashboard" class='sec {% if not request.user.is_authenticated %}hide{% endif %}'>
    <div class="container">
        <div class="row">
            <div class="span12">
                <center><h2>Dashboard </h2>
<!--                        <h3>{{request.user.get_profile.shaastra_id}}</h3>-->
                </center>
                
<!--                <center><div class="breaker"><span class="left"></span><div class="dice"></div><span class="right"></span></div></center>-->
            </div>
        </div>
        {% if msg_file_upload %}
        <span id='error_earlier' class='hide'> {{msg_file_upload}}</span>
        {% endif %}
        <div class="container page_content" style=' padding : 10px; height : 65%;'>
            <div class='left_content span3 pull-left' style=''>
                <ul id='dash_sidenav' class="nav nav-tabs nav-stacked sidenav affix-top">
                    <!-- START User list head -->
                    <li id="list_user_head" class="list_user_head sidenav_head ">
                        <a class="" style='text-align : center;'>
                             Hi <span id="dashboard_full_name">{{request.user.get_full_name}}</span>
                        </a>
                    </li>
                    <li id="list_user_head" class="list_user_head sidenav_head ">
                        <a href = "#_account_actions" onclick="Dajaxice.users.view_profile(Dajax.process);javascript:do_accordion('list_user')" style='cursor : pointer;'>
                            <i class="icon-chevron-down icon-white"></i> Account information
                        </a>
                    </li>
                    <li id="list_user_profile" class="list_user_body collapse active">
                        <a href="#" onclick="Dajaxice.users.view_profile(Dajax.process);$('#dash_sidenav li').removeClass('active');$(this).closest('li').addClass('active');" >
                            <i class="icon-chevron-right"></i> Profile Details
                        </a>
                    </li>
                    <li id="list_user_edit" class="list_user_body collapse">
                        <a href="#" onclick="Dajaxice.users.edit_profile_form(Dajax.process);$('#dash_sidenav li').removeClass('active');$(this).closest('li').addClass('active');">
                            <i class="icon-chevron-right"></i> Edit Profile<i class="icon-user icon-white"></i>
                        </a>
                    </li>
                    <li id="list_user_edit" class="list_user_body collapse">
                        <a href="#" onclick = "Dajaxice.users.change_password_form(Dajax.process);$('#dash_sidenav li').removeClass('active');$(this).closest('li').addClass('active');">
                            <i class="icon-chevron-right"></i> Change my Password<i class="icon-user icon-white"></i>
                        </a>
                    </li>
                    
                    <!-- END User list -->
                    <!-- START Events list head -->
                    <li id="list_events_head" class="list_events_head sidenav_head ">
                        <a href="#_options_events" onclick="javascript:do_accordion('list_events')" style='cursor : pointer;'> 
                            <i class="icon-chevron-down icon-white"></i> My Events
                        </a>
                    </li>
                    <li id="list_events_registered" class="list_events_body collapse">
                        <a href="#registered_events" onclick = "Dajaxice.users.show_registered_events(Dajax.process);$('#dash_sidenav li').removeClass('active');$(this).closest('li').addClass('active');"> 
                            <i class="icon-chevron-right"></i> My Registered Events
                        </a>
                    </li>
                    <li id="list_events_team" class="list_events_body collapse">
                        <a href="#your_tdp_submissions" onclick = "Dajaxice.users.show_tdp_submissions(Dajax.process);$('#dash_sidenav li').removeClass('active');$(this).closest('li').addClass('active');"> 
                            <i class="icon-chevron-right"></i> My TDP Submissions
                        </a>
                    </li>
                    <li id="list_events_team_class" delete="list_events_body collapse">
                        <a href="#updates_view" onclick="Dajaxice.users.show_updates(Dajax.process);"> 
                            <i class="icon-chevron-right"></i> Updates(TODO)
                        </a>
                    </li>
                    <!-- END Events list -->
                    <!-- START Submit TDP -- NO LIST -->
                    <li id="list_tdp_submit" class="sidenav_lone">
                        <a href="#tdp_submit" onclick = "Dajaxice.users.show_registered_tdp_events(Dajax.process);$('#dash_sidenav li').removeClass('active');$(this).closest('li').addClass('active');"> 
                            <i class="icon-chevron-right"></i>&nbsp;&nbsp;Submit TDP
                        </a>
                    </li>
                    <!-- END Submit TDP -->
                </ul>
            </div>
            <div class='right_content span8 pull-right' id="content_dash" style='overflow-y : auto;'>
                <h4><span>Shaastra ID:</span><b><span id="dashboard_shaastra_id">{{request.user.get_profile.shaastra_id}}</b></h4></span>
            </div>
        </div>
    </div>
</section>
<!-- END DASHBOARD SECTION  -->






        
        
