<h3 style='width : 100%;'>
	<span id='#show_regd_events_title' style='position:absolute; left : 25%; display : inline-block;'>{{request.user}}'s registered events</span>
	&nbsp;
</h3>

<ul >
{% ifequal no_regd 0 %}
    <span style="color:red">No events registered, click here to register</span>
{% endifequal %}
{% for teamevent in team_event_list %}
<li>
        <div class = "class12 title">
        <span><h4>{{teamevent.get_event.title}}</h4></span>
    {% if teamevent.get_event.registration_ends and teamevent.get_event.registration_starts%} 
        {%if now < teamevent.get_event.registration_ends and now > teamevent.get_event.registration_starts%}
            {% if teamevent.get_event.has_tdp %}
        <div id="tdp_{{teamevent.get_event.id}}">
        <form action="" method="post" enctype="multipart/form-data" id="file_tdp_{{teamevent.get_event.id}}">{% csrf_token %}
            {{TDPFileForm.as_table}}
            <a onclick="Dajaxice.users.submit_tdp(Dajax.process,{'teamevent_id':{{teamevent.id}},'file_tdp':$('#file_tdp_{{teamevent.get_event.id}}').serialize(true)});" class="btn btn-primary">Submit TDP</a>
        </form>
        </div>
            {% endif %}
        {% else%}
            {%if now < teamevent.get_event.registration_ends%}
                <span style="color:red">Registration yet to start! starts:{{teamevent.get_event.registration_starts}}</span>
            {% else %}
            <span style="color:red">Registration deadline crossed!!</span>
            {% endif %}
        {% endif %}
    {% else %}
            <span style="color:red">Registration details not released!</span>
    {% endif %}
            </div>
    </div>
    </li>
{% endfor %}

</ul>

