<html>
<body>

{% if success %}
Hi {{user.username}}, you can reset your password here for the <a href = "{{SITE_URL}}">Shaastra</a> Website
<form action="" method="POST" id="reset_password_form">{% csrf_token %}
            <table>
            
            <p style="color: red;">{{ reset_password_form.password.errors }}</p>
            <p style="color: red;">{{ reset_password_form.password_again.errors }}</p>
           
                <tr>
                     <td><label for="id_new_password1">New password:</label></td>
                    <td>{{ reset_password_form.password }}</td>
                </tr>
                <tr>
                     <td><label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ reset_password_form.password_again }}</td>
                </tr>
                <input type="hidden" name="user" value={{user.username}}>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Reset your password" /></td>
                </tr>
            </table>
</form>
{% endif %}

<p "style=color:red">{{msg}}</p>

</body>
</html>

