{% load staticfiles %}

<!-- EVENTS SECTION  -->
<section id="events" class='sec'>
    <div class="container">
        <div class="row">
            <div class="span12 centered">
                <h2>Events</h2>
                <div class="breaker"><span class="left"></span><div class="dice"></div><span class="right"></span></div>
            </div>
        </div>
        <!-- Carousel
        ================================================== -->
       
        <div class="container main_event">
            <div class='event_wrapper row'>
                <div class='main_event_item span12'>
                    
                    <div class='span3'>
                        <div class="span12 title " onclick='show_event(this);'>Head 1</div>
                        <!--<div class='span12'>
                            <button type="button" class="close pull-left" onclick="javascript:hide_event(this);"><img src="{% static 'img/back-arrow.png' %}"/></button>
                            <h1>?efefc</h1>
                            <ul>
                                <li><a href='javascript:show_event_page(this);' onclick='show_event_page(this);'>Test 1</a></li>
                                <li><a href='javascript:show_event_page(this);' onclick='show_event_page(this);'>Test 2</a></li>
                                <li><a href='javascript:show_event_page(this);' onclick='show_event_page(this);'>Test 3</a></li>
                            </ul>
                        </div>-->
                        <div class='span12'>
                            <button type="button" class="close pull-left" onclick="javascript:hide_event(this);"><img src="{% static 'img/back-arrow.png' %}"/></button>
                            <h4>Page 1</h4>
                            <ul class="span2 nav-stacked pull-left">
                                <li><a href='javascript:show_event_page(this)' onclick='show_event_page(this)'>Home</a></li>
                                <li><a href='javascript:show_event_page(this)' onclick='show_event_page(this)'>Page1</a></li>
                                <li><a href='javascript:show_event_page(this)' onclick='show_event_page(this)'>Page2</a></li>
                                <li><a href='javascript:show_event_page(this)' onclick='show_event_page(this)'>Page3</a></li>
                            </ul>
                            <div class="span9 pull-right">
                                jshrgfrbfgkrw
                            </div>
                            <div class="span9 pull-right">
                                hgeyifgbiwyefwe
                            </div>
                            <div class="span9 pull-right">
                                kijgiyrhryh
                            </div>
                            <div class="span9 pull-right">
                                skufhrkiugfn
                            </div>
                        </div>
                    </div>
                    <div class='span3'>
                        <div cla    ss="span12 title " onclick='show_event(this);'>Head 2</div>
                        <div class='span12'>
                            <button type="button" class="close pull-left" onclick="javascript:hide_event(this);"><i class='icon-arrow-left'></i></button>
                            <h1>?efefc</h1>
                            <ul>
                                <li><a href='javascript:show_event_page(this);' onclick='show_event_page(this);'>Test 1 page 2</a></li>
                                <li><a href='javascript:show_event_page(this);' onclick='show_event_page(this);'>Test 2 page 2</a></li>
                                <li><a href='javascript:show_event_page(this);' onclick='show_event_page(this);'>Test 3 page 2</a></li>
                            </ul>
                        </div>
                        <div class='span12 '>
                            <button type="button" class="close pull-left" onclick="javascript:hide_event_page(this);"><i class='icon-arrow-left'></i></button>
                            <h1>?efwefwefefefc</h1>
                            sefswefwefwefwe
                        </div>
                        <div class='span12 '>
                            <button type="button" class="close pull-left" onclick="javascript:hide_event_page(this);"><i class='icon-arrow-left'></i></button>
                            <h1>?efwefwefefefceded</h1>
                            sefswefwefwefwedwefewfefwefe
                        </div>
                    </div>
                    <div class='span3'></div>
                    <div class='span3'></div>
                    
                    <div class='span3'></div>
                    <div class='span3'></div>
                    <div class='span3'></div>
                    <div class='span3'></div>
                </div>
            </div>
        </div>
        
        <div id="my_carousel" class='container'>
            <div class="row">
                <div class="columns">
                    <div id="myCarousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active"> <!-- Page 2 for the carousel -->
                                {% include 'events/small/page_1.html' %}
                            </div>
                        </div>
                        <a class="left pull-left carousel-control " href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="right pull-right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>
<!-- END EVENTS SECTION  -->
