{% load staticfiles %}

<!-- EVENTS SECTION  -->
<section id="events" class='sec'>
    <div class="container">
        <div class="row">
            <div class="span12">
                <center><h2>Events</h2></center>
                <center><div class="breaker"><span class="left"></span><div class="dice"></div><span class="right"></span></div></center>
            </div>
            
            <div style='position : absolute; left : 10%; margin-top : 40px'>
                <center>For event queries mail<br /><a href='mailto:events@shaastra.org'>events@shaastra.org</a></center>
            </div>
            <div style='position : absolute; right : 10%; margin-top : 40px'>
                <center>To know more about Technosia<br /> Click <a href="http://www.technosia.in/">Here</a></center>
            </div>
        </div>
        <!-- Carousel
        ================================================== -->
       
        <div class="container main_event">
            <div class='event_wrapper row'>
                <div class='main_event_item span12'>
                </div>
            </div>
        </div>
        
        <div id="my_carousel" class='container'>
            <div class="row event_items_div">
                {% include 'events/small/event_groups.html' %}
            </div> 
        </div>
    </div>
</section>
<!-- END EVENTS SECTION  -->
